[2015-08-07 12:32] RobertAKARobin commented on #203
Kevin, you didn't include your video link! Please re-submit.

[2015-08-07 12:32] #203 closed, assigned to nobody

[2015-08-07 12:32] #204 closed, assigned to nobody

[2015-08-07 12:33] #205 closed, assigned to nobody

[2015-08-07 12:33] #206 closed, assigned to nobody

[2015-08-07 12:33] adrianshep commented on #235
No. I saw other posts on the Mac QT message boards indicating other people
having this problem and the proposed solutions I tried (specifying built-in
mic, creating an aggregate audio device using MIDI, downloading Sunflower
patch) not working for them either.

On Fri, Aug 7, 2015 at 8:26 AM, Robert Thomas notifications@github.com
wrote:

[2015-08-07 12:34] RobertAKARobin commented on #235
Can you grab one of the instructors? I'm pretty sure I saw you in Classroom 2. Matt and Adam are both outside the classrooms, I believe. If not, let me know.

[2015-08-07 12:34] #207 closed, assigned to nobody

[2015-08-07 12:35] #208 closed, assigned to nobody

[2015-08-07 12:35] #209 closed, assigned to nobody

[2015-08-07 12:36] #210 closed, assigned to nobody

[2015-08-07 12:36] KevCole commented on #203
Is it too late? I forgot to hit paste https://vimeo.com/135631139

[2015-08-07 12:36] #211 closed, assigned to nobody

[2015-08-07 12:36] #212 closed, assigned to nobody

[2015-08-07 12:37] #213 closed, assigned to nobody

[2015-08-07 12:37] #214 closed, assigned to nobody

[2015-08-07 12:37] #215 closed, assigned to nobody

[2015-08-07 12:37] #216 closed, assigned to nobody

[2015-08-07 12:38] #217 closed, assigned to nobody

[2015-08-07 12:38] #218 closed, assigned to nobody

[2015-08-07 12:38] #219 closed, assigned to nobody

[2015-08-07 12:38] #220 closed, assigned to nobody

[2015-08-07 12:39] #221 closed, assigned to nobody

[2015-08-07 12:39] #222 closed, assigned to nobody

[2015-08-07 12:39] #223 closed, assigned to nobody

[2015-08-07 12:39] #224 closed, assigned to nobody

[2015-08-07 12:40] #225 closed, assigned to nobody

[2015-08-07 12:40] #226 closed, assigned to nobody

[2015-08-07 12:41] #227 closed, assigned to nobody

[2015-08-07 12:41] #228 closed, assigned to nobody

[2015-08-07 12:41] #229 closed, assigned to nobody

[2015-08-07 12:41] #230 closed, assigned to nobody

[2015-08-07 12:41] #231 closed, assigned to nobody

[2015-08-07 12:42] #233 closed, assigned to nobody

[2015-08-07 12:42] #234 closed, assigned to nobody

[2015-08-07 12:43] #236 closed, assigned to nobody

[2015-08-07 12:43] #237 closed, assigned to nobody

[2015-08-07 13:02] RobertAKARobin commented on #203
Nah, you're good. I'll trust you on this one.

[2015-08-07 13:03] silviascript commented on #206
@RobertAKARobin Please use this instead! I couldn't get it to load at my place! https://www.youtube.com/watch?v=Nva1N6kCIN8&feature=youtu.be

[2015-08-07 13:04] adrianshep commented on #235
Adam helped me get the audio going.

It's processing right now:

PriceParser

http://youtu.be/X0Q0LsmiGag

On Fri, Aug 7, 2015 at 8:34 AM, Robert Thomas notifications@github.com
wrote:

##

Adrian

[2015-08-07 13:08] #235 closed, assigned to nobody

[2015-08-07 14:00] LauraWN opened #238 "link to video."
http://youtu.be/6xT5tiIZNJ4

A video of problems with a project.

completeness: 3
comfort_level: 3

[2015-08-07 14:08] #238 closed, assigned to nobody

[2015-08-08 21:38] malissaromero opened #239 "Project 2 Submission"
Git Hub Repo with URL: https://github.com/malissaromero/project_two_developer_tips

Video: https://youtu.be/OQrEs_U3jhc

Completeness: 5
Comfort Level: 5
I definitely learned a lot. I know I have much more to learn but appreciate the help and attention from the instructors. I also got a lot of help from the TAs and my peers. It was a very high stress week but in the end I was very happy with my ap

[2015-08-09 13:45] msteffan opened #240 "Melissa - Project 2 Submission"
Deployed project: https://timebox-app.herokuapp.com/
Repository: https://github.com/msteffan/tinboard

Comfort: For the basic project requirements, 5/5; for what I wanted to do, more like 3 or 4/5. There were many basic parts of rails that we didn't cover.
Completeness: 5/5

[2015-08-09 16:13] Ryan-321 opened #241 "Project 2: Recipe Box"
Link to repo:  https://github.com/Ryan-321/recipe_box

Link to heroku: https://wdi-recipe-box.herokuapp.com

Comfort: 4

Completeness: 4

Need to add some finishing touches, but fully functional.

[2015-08-09 16:59] edwardpark opened #242 "Project 2"
Deployed: https://intense-brook-1736.herokuapp.com
Repo: https://github.com/edwardpark/ReMed4Me

Comfort: 4
Completeness:4

overall had good time with this project. would like to talk with instructor specifically about possible ways to better structure associations so that I would have more flexibility in generating reminder models so that more compatible with forms and how does one add background

[2015-08-09 17:14] ashahry opened #243 "Project 2"
https://github.com/ashahry/WDI-Project-2

[2015-08-09 22:00] lscottcook opened #244 "Project 2 Presentation- Smilz"
Comfort level 3
Completeness 4

Link to Github repository https://github.com/lscottcook/smilz.git

[2015-08-09 22:06] ebirving opened #245 "Project 2 Submissions"
https://github.com/ebirving/erg-scores

[2015-08-10 00:18] silviascript opened #246 "Project #2"
Repository: https://github.com/siltastic/collectionist-app
Deployed App: http://the-collectionist.herokuapp.com

Project Requirements
Completeness: 4/5 or 5/5 (I think?)

Personal Requirements
Completeness: 1.5/5

After reading the project feedback and evaluation document, I believe I met all the requirements and expectations. However, I'm disappointed with myself because I know I was capable in c

[2015-08-10 00:47] tomBeach opened #247 "Project 2 redirect..."
NOTE: Please see https://github.com/tomBeach/_Project2_photostream3 for "final" version of this project.  Also see db_design.docx file for design specs, etc.

After my first attempt to push to Heroku and several additional commits, I was unable to push to original version repo on github (_Project2-Photostream) due to merge issues.  (Could not figure out massive number of changes in files.)  Tried

[2015-08-10 02:01] rewarren opened #248 "Project 2"
https://github.com/rewarren/fetch

comfort:3.5
complete:4

[2015-08-10 02:04] puzzleboks opened #249 "Project 2: Special Needs Pets"
Repo: https://github.com/puzzleboks/Special_Needs_Pets

Site: https://special-needs-pets.herokuapp.com/

Comfort: 4
Many, many issues, but worked through most of them (with help).

Completeness: 4
As far as I know I achieved all the requirements for the project, put submitted the presentation late due to video issues. I also didn't reach all the goals I had for the project.

[2015-08-10 02:30] jeffjones89 opened #250 "Project 2 Repo"
https://github.com/jeffjones89/SeedMe

Comfort: 5
Completeness: 5

[2015-08-10 02:37] mattficke opened #251 "Matt Ficke Project 2"
Heroku: https://cunningham.herokuapp.com/
Github: https://github.com/mattficke/cunningham

Comfort: 4.5
Completeness: 4.5 (Basic requirements are met, but there's a lot more I want to do with this!)

The main technical issue I wasn't able to address is the API call in the feeds/index view. This should be moved back to the controller, but because of the looping I couldn't figure out how to do it. I

[2015-08-10 03:09] kristingreenslit opened #252 "Project 2: TechAssess"
Comfort: 4
Completeness: 5

Repo: https://github.com/kristingreenslit/tech-assess/commits/quiz_changes
Heroku: https://still-fjord-1613.herokuapp.com/

[2015-08-10 03:28] omarimayerswalker opened #253 "Project 2"
Comfort: 4
Completeness: 4.5

github: https://github.com/omarimayerswalker/mum/tree/final_branch
heroku: https://mum-app.herokuapp.com/accounts/sign_in

[2015-08-10 04:00] LauraWN opened #254 "project 2"
deployed on heroku at: https://laura-magic8ball.herokuapp.com
on github at: http://www.github.com/laurawn/magic8ball

completeness: 4
comfort level: 4

[2015-08-10 04:11] ghost opened #255 "Project 2 submission"
comfort: 4
completeness: 4.5~5

github: https://github.com/ktw1222/myRefriger
heroku: https://myrefriger.herokuapp.com

[2015-08-10 04:37] ghost opened #256 "Triply"
GitHub: https://github.com/leighvarley/triply
Heroku: https://triply-app.herokuapp.com/

Completeness: 5 (in terms of meeting requirements, though there is some functionality that is not working  100% correctly)
Comfort: 4

I learned a ton by working on this project! I also feel like I still have a ton to figure out. There is a lot more that I'd like to do with this app - I look forward to working

[2015-08-10 05:01] nayana487 opened #257 "Project 2"
Github: https://github.com/nayana487/crime_app
Heroku: https://charm-city-blotter.herokuapp.com/regions

complete: 5
comfort: 4

[2015-08-10 11:02] skey08 opened #258 "Project 2"
Comfort: 4
Completeness: 5

https://github.com/skey08/goers-app
goers-app.herokuapp.com

[2015-08-10 11:05] ghost opened #259 "Project-2"
heroku: https://project-2-yvonne.herokuapp.com/
github: https://github.com/YvonneWang/Project-2

comfort:4
completeness:
    Project Requirement:5
    Overall Project : 3

I want to go back and add more things in the future.

[2015-08-10 11:21] pdoulatshahi opened #260 "Project 2"
https://github.com/pdoulatshahi/music_moments
http://themusicmoments.herokuapp.com/

Comfort: 4.5/5
Completeness: 5/5

Thanks!

[2015-08-10 11:59] chrislovett03 opened #261 "Project 2"
Comfort: 3.5
Completeness: 4

https://github.com/christinelovett/local_table
https://protected-sea-9566.herokuapp.com/

[2015-08-10 12:12] KevCole opened #262 "project submission"
https://github.com/KevCole/Park-Rater

[2015-08-10 12:14] ghost opened #263 "JP Project 2 - Faithbook"
comfort_level: 3
completeness: 3

http://github.com/iamjustinprice/faithbook

http://faith-book.herokuapp.com

[2015-08-10 12:33] petergcutler opened #264 "Project 2"
Comfort: 4/5
Completion: 4/5

https://github.com/petergcutler/guacamole

[2015-08-10 12:34] jkoul opened #265 "DCFuture deployed and ready for beta launch"
Comfort: 4.5
Completeness: 5
I still have a ton of trouble with CSS. Otherwise this would be a 5 in comfort. I'm pretty proud of this project and how it turned out. I plan to keep working with it, but it's a great start and I'm ready to recruit contributors for a beta launch.

Live app: https://dcfutureblog.herokuapp.com/
Github repo: https://github.com/jkoul/dcfuture

[2015-08-10 12:39] ghost opened #266 "Project 2: SocialHub"
[Heroku Link](https://socialhub-rosel.herokuapp.com/)
[GitHub Link](https://github.com/RoselPadilla/SocialHub)

Comp: 5
Comf: 5

[2015-08-10 12:44] phantomhaircuts opened #267 "project 2"
https://github.com/phantomhaircuts/time_bank
https://timefly.herokuapp.com/

[2015-08-10 12:49] lanakushnir opened #268 "Project 2 - Tranfoodmator"
Comfort 4/5
Completeness 5/∞

https://github.com/lanak1301/Transfoodmator
https://wdi-dc6-lana-transfoodmator.herokuapp.com/

[2015-08-10 12:50] M00staff opened #269 "Project 2"
https://github.com/M00staff/Project-2-KetoCookBook
http://keto-cook-book.herokuapp.com/

completeness 4
comfort 4

[2015-08-10 12:52] jsm13 opened #270 "Project 2"
https://github.com/jmas13/project2

[2015-08-10 12:54] kscoulter opened #271 "Project 2"
Board Together: https://github.com/kscoulter/board-together

[2015-08-10 12:54] kscoulter commented on #271
https://board-together.herokuapp.com/

[2015-08-10 12:55] robertbenjamin opened #272 "Project 2"
https://github.com/robertbenjamin/places
https://glacial-tor-6311.herokuapp.com

comfort_level: 4
completeness: 4

[2015-08-10 12:55] pdavies88 opened #273 "Preston Project 2"
https://github.com/pdavies88/project_2_preston
https://cardcollectionaire.herokuapp.com/

comfort level 3.5
completeness 4.5

[2015-08-10 12:55] jaredarkin opened #274 "project 2"
comfort_level: 4.5
completeness: 4.5

https://github.com/arkinjb/photos_of_paul_db

http://photos-of-paul.herokuapp.com

[2015-08-10 12:55] Curtismn87 opened #275 "Project 2"
https://wheres-my-money.herokuapp.com/ - Heroku deployment

https://github.com/Curtismn87/wheres_my_money - GitHub Repo

[2015-08-10 12:56] adrianshep opened #276 "Project 2 - PriceParser"
Site:  https://adrians-price-parser.herokuapp.com/

Repo:  https://github.com/adrianshep/price-parser

comfort level = 4
completeness = 4

[2015-08-10 12:58] ericacomfort opened #277 "Erica Andersen's Project 2 - Submission 2"
## Where.it App
##### Vimeo: https://vimeo.com/135635083

##### New Repo (after Heroku hiccup): https://github.com/andersenek/where.it
##### Deployed App: https://where-it-wdi.herokuapp.com/

[2015-08-10 12:59] alexbannon opened #278 "My Project"
Repo: https://github.com/alexbannon/flake

Deployed: http://alexbannon-flake.herokuapp.com/

[2015-08-10 13:00] nolds9 opened #279 "Project 2 submission"
Repo: https://github.com/nolds9/wdi_project_2

Deployed-url: http://assembly-general.herokuapp.com/

[2015-08-10 13:02] karldonus opened #280 "Lynchburg Rentals"
https://github.com/karldonus/generalAssemblyProjectTwo

https://lynchburgrentals.herokuapp.com/

[2015-08-10 13:04] walter-0 opened #281 "Project 2"
https://github.com/Walter-0/rate_my_style

[2015-08-10 14:03] Thesheik opened #282 "Project2"
https://github.com/Thesheik/Cheikh_project2

[2015-08-10 15:02] mosesadg opened #283 "Project2"
git: https://github.com/mosesadg/Project2
url: https://broadkast-wdi6-anand.herokuapp.com

[2015-08-10 15:14] ghost opened #284 "Project 2 Submission"
Link to my repo: https://github.com/cameronfry11/prompt

Comfort: 3/5

Completeness: 5/5

[2015-08-10 17:15] segheysens opened #285 "Project 2 Submission"
Hi Instructors! Sorry, forgot I had to submit this separately from my video, shoutout to Andy for reminding me.

https://github.com/segheysens/bewze_web

[2015-08-10 18:35] englep10 opened #286 "Project 2 Submission"
Sorry Andy! https://github.com/englep10/online_aircraft

[2015-08-10 19:18] #271 closed, assigned to nobody

[2015-08-10 19:34] #244 closed, assigned to nobody

[2015-08-10 20:08] #286 closed, assigned to nobody

[2015-08-10 20:09] #252 closed, assigned to nobody

[2015-08-10 20:09] #269 closed, assigned to nobody

[2015-08-12 20:05] #243 closed, assigned to nobody

[2015-08-12 20:27] #276 closed, assigned to nobody

[2015-08-12 20:28] #264 closed, assigned to nobody

[2015-08-12 20:28] #273 closed, assigned to nobody

[2015-08-12 20:28] #260 closed, assigned to nobody

[2015-08-13 01:07] mattscilipoti commented on #282
Created PR and assignment entry.

[2015-08-13 01:07] #282 closed, assigned to nobody

[2015-08-13 01:08] mattscilipoti commented on #266
Created PR and assignment entry (status.wdidc.org).

[2015-08-13 01:08] #266 closed, assigned to nobody

[2015-08-13 12:22] mattscilipoti commented on #239
Good job!  Create PR and updated status.didc.org.

[2015-08-13 12:22] #239 closed, assigned to nobody

[2015-08-13 21:53] mattscilipoti commented on #249
Created PR and updated status.wdidc.org.

[2015-08-13 21:53] #249 closed, assigned to nobody

[2015-08-13 22:20] #246 closed, assigned to nobody

[2015-08-13 22:20] #247 closed, assigned to nobody

[2015-08-13 22:20] #272 closed, assigned to nobody

[2015-08-13 22:20] #274 closed, assigned to nobody

[2015-08-13 22:20] #278 closed, assigned to nobody

[2015-08-14 00:45] #240 closed, assigned to nobody

[2015-08-14 00:45] #284 closed, assigned to nobody

[2015-08-14 00:46] #251 closed, assigned to nobody

[2015-08-14 01:13] mattscilipoti commented on #263
Sent PR.  Updated status.wdidc.org.

[2015-08-14 01:13] #263 closed, assigned to nobody

[2015-08-14 02:25] #285 closed, assigned to nobody

[2015-08-14 03:20] #256 closed, assigned to nobody

[2015-08-14 03:49] #259 closed, assigned to nobody

[2015-08-14 04:12] #248 closed, assigned to nobody

[2015-08-14 14:47] #267 closed, assigned to nobody

[2015-08-14 14:47] #277 closed, assigned to nobody

[2015-08-14 14:47] #281 closed, assigned to nobody

[2015-08-14 16:46] mattscilipoti commented on #279
Created PR and updated status.wdidc.org.

[2015-08-14 16:46] #279 closed, assigned to nobody

[2015-08-14 16:46] mattscilipoti commented on #254
Created PR and updated status.wdidc.org

[2015-08-14 16:46] #254 closed, assigned to nobody

[2015-11-13 21:40] #241 closed, assigned to nobody

[2015-11-13 21:40] #242 closed, assigned to nobody

[2015-11-13 21:40] #245 closed, assigned to nobody

[2015-11-13 21:40] #250 closed, assigned to nobody

[2015-11-13 21:40] #253 closed, assigned to nobody

[2015-11-13 21:40] #255 closed, assigned to nobody

[2015-11-13 21:40] #257 closed, assigned to nobody

[2015-11-13 21:40] #258 closed, assigned to nobody

[2015-11-13 21:40] #261 closed, assigned to nobody

[2015-11-13 21:40] #262 closed, assigned to nobody

[2015-11-13 21:40] #265 closed, assigned to nobody

[2015-11-13 21:40] #268 closed, assigned to nobody

[2015-11-13 21:40] #270 closed, assigned to nobody

[2015-11-13 21:40] #275 closed, assigned to nobody

[2015-11-13 21:40] #280 closed, assigned to nobody

[2015-11-13 21:40] #283 closed, assigned to nobody

[2015-11-14 18:08] elisekain opened #289 "Kain: Project #2 Planning HW"
Project 2 Repo: https://github.com/elisekain/lyricks

[2015-11-15 02:51] Ly900 opened #290 "Ly - Project #2 Planning HW"
Github site: https://github.com/Ly900/project2

[2015-11-15 20:08] jenpen opened #291 "Pengelly - Project 2 HW"
https://github.com/jenpen/daily_scrum

[2015-11-15 20:50] ghost opened #292 "Alea - Project 2"
https://github.com/ScreenName4eva/readyplayertwodating

[2015-11-15 22:31] dan-ator opened #293 "Daniel Alexander Project 2 Repo"
Wireframes, erd, and user stories added.

https://github.com/dan-ator/Project-Two

[2015-11-16 01:04] joe-gz opened #294 "joe-gz project 2"
https://github.com/joe-gz/beerlister

[2015-11-16 02:03] rebeccaestes opened #295 "rebecca project 2"
https://github.com/rebeccaestes/project2

[2015-11-16 03:18] ddayporter opened #296 "Rachel's Project 2 Repo"
https://github.com/ddayporter/project2

[2015-11-16 04:36] starrchen opened #297 "I couldn't think of a better name so far"
BUT [here's my repo for project 2](https://github.com/starrchen/turkey-wurkey/)

~~(Try not to hurt yourselves laughing.)~~

[2015-11-16 04:45] MarkhamShofner opened #298 "Markham - Project 2"
https://github.com/MarkhamShofner/Open-Door

[2015-11-16 05:16] alifrumin opened #299 "Alice Frumin Project 2 Repo"
https://github.com/alifrumin/ClubHub

[2015-11-16 05:28] samir-acle opened #300 "Samir - Project 2 Planning"
https://github.com/sammehta88/VetPetMeds/blob/master/README.md

[2015-11-16 05:55] pzhang87 opened #301 "project repo"
https://github.com/pzhang87/project2

[2015-11-16 06:34] jnichols300 opened #302 "project 2"
https://github.com/jnichols300/project2

[2015-11-16 06:35] dgorgan opened #303 "Dimitri Gorgan - Project 2"
https://github.com/dgorgan/MyDoc

https://trello.com/b/ntsi4TD2/ga-project-2-mydoc

[2015-11-16 12:43] neka-io opened #304 "Negar - Project 2"
https://github.com/noonkay/Project2

[2015-11-16 13:05] estennett opened #305 "Eric Stennett - Project 2"
Eric Stennett
Project 2: Jiujitsu Journal

[2015-11-16 13:07] jacohen10 opened #306 "Project 2"
https://github.com/jacohen10/Project2

[2015-11-16 13:30] mcgrodsky opened #307 "Mia Project 2"
https://github.com/mcgrodsky/housemate_matchmaker

[2015-11-16 13:54] jordanbrauner opened #308 "Jordan Brauner - Project 2"
https://github.com/jordanbrauner/project-2

Comments: Still working on my Wireframes in InDesign.

[2015-11-16 13:58] brittonwalker opened #309 "Britton Project 2"
https://github.com/brittonwalker/project_two

[2015-11-16 13:59] tkentor opened #310 "Project 2 Repo"
https://github.com/tkentor/Project-2

completeness: 2

[2015-11-16 14:31] andrewjohnson8819 opened #311 "Andrew Johnson project2"
https://github.com/andrewjohnson8819/project2

[2015-11-16 14:32] ajohnson052 opened #312 "Alexis_Project_2_Planning"
https://github.com/ajohnson052/escapades

[2015-11-16 14:41] mcgrodsky opened #313 "issue with DB Migrations"
I tried to add a User Devise migration and then add user_id to previously made migrations. I believe my error is because i didn't db:migrate my User Migration before trying to add user_id to other migrations. The error i'm getting is "PG::UndefinedTable: ERROR:  relation "users" does not exist"

I tried reseting, dropping, and then re-migrating database. After i do db:reset it says "need to add us

[2015-11-16 14:52] #313 closed, assigned to nobody

[2015-11-16 14:53] KoryJCampbell opened #314 "Project 2 Initial Planning HW [Kory J. Campbell]"
https://github.com/KoryJCampbell/GA_Project_2

[2015-11-16 14:55] RobertAKARobin opened #315 "Test"

[2015-11-16 14:55] #315 closed, assigned to nobody

[2015-11-16 15:07] schersh opened #316 "Project 2 Repo"
https://github.com/schersh/Project-2

[2015-11-16 15:07] tylercrosse opened #317 "Tyler Crosse P2 Planning"
Link to my Repo: https://github.com/tylercrosse/git_view

I've currently only have a user model with authentication through github using Omniauth.

I'm still trying to figure out what info should just be pulled using the github-api and what should be created and stored locally (or with AWS). Fundamentally, this is a question on how to structure the project.

Does it make sense to duplicate a bunch

[2015-11-16 15:15] #295 closed, assigned to nobody

[2015-11-16 15:21] cpgruber opened #318 "chase project planning"
https://github.com/cpgruber/wdi-project2/tree/master/planning

[2015-11-16 15:41] #294 closed, assigned to nobody

[2015-11-16 15:47] mcgrodsky opened #319 "issue with Devise"
I tried to install Devise, getting weird errors.

1) Added gem 'devise' to Gemfile > Ran bundle Install
2) in iTerm typed "rails generate devise:install" got error message "Could not find generator 'devise:install'. Maybe you meant 'assets', 'test_unit:job' or 'generator'
Run `rails generate --help` for more options."

What?

[2015-11-16 15:51] jacohen10 opened #320 "issue with routes"
I tried resources :restaurants. I expected to get the normal set of routes to appear.

[code]

happened instead.
My repo link is https://github.com/jacohen10/Project2 and my question is about lines 3 in routes.

[2015-11-16 15:51] #319 closed, assigned to nobody

[2015-11-16 15:54] amaseda commented on #320
Can you push your latest code? Don't see anything in routes at the moment. Thx

[2015-11-16 15:55] mcgrodsky opened #321 "Devise Migration Issue"
I am trying to add devise to my app. I am expecting it to work normally, but when i run rake db:migrate it gives me this error "rake aborted!
StandardError: An error has occurred, this and all later migrations canceled:

SQLite3::SQLException: no such table: users: ALTER TABLE "users" ADD "email" varchar DEFAULT '"

I am following all the normal steps and don't know why it's not working to create

[2015-11-16 15:58] RobertAKARobin commented on #320
Hm. These all look like normal routes to me. Can you be more specific about what's abnormal?

[2015-11-16 15:59] RobertAKARobin commented on #321
Uh oh! It's because you did `rails new your-app` instead of `rails new your-app -d postgresql`. Note the `SQLite3` error.

At this point, you can certainly look up how to change a SQLite app to Postgres, but if you don't have much code it may instead be a good idea to just `rails new` again.

[2015-11-16 16:00] jacohen10 commented on #320
Shouldn't there be a restaurants/:id?

[2015-11-16 16:01] jacohen10 commented on #320
Figured it out. I wrote resource instead of resources...

[2015-11-16 16:02] #320 closed, assigned to nobody

[2015-11-16 16:09] mcgrodsky commented on #321
THANK YOU

[2015-11-16 16:12] RobertAKARobin commented on #321
Wooo! Can you close this issue, then?

[2015-11-16 16:13] onesick opened #322 "Wonsik Jeong project plan"
https://github.com/onesick/project2

[2015-11-16 16:13] #299 closed, assigned to nobody

[2015-11-16 16:13] #303 closed, assigned to nobody

[2015-11-16 16:25] matiamin opened #323 "Mati Project 2"
https://github.com/matiamin/mati_Project2

[2015-11-16 17:04] andrewsunglaekim commented on #302
:+1:

[2015-11-16 17:04] #302 closed, assigned to nobody

[2015-11-16 18:31] mcgrodsky opened #324 "Devise FB authentication error"
I am trying to implement FB authentication through devise using this documentation - http://willschenk.com/setting-up-devise-with-twitter-and-facebook-and-other-omniauth-schemes-without-email-addresses/

When I go to localhost:3000 it redirects to http://localhost:3000/users/sign_in <which is what i want

However i'm getting "NoMethodError in Devise::Sessions#new" and it's highlighting a line in m

[2015-11-16 19:33] RobertAKARobin commented on #324
Can you post a screenshot of the error? I'd like to see more of it.

[2015-11-16 19:35] mcgrodsky commented on #324
![screen shot 2015-11-16 at 2 34 44 pm](https://cloud.githubusercontent.com/assets/14894858/11192444/3e7f18ec-8c6f-11e5-8a20-6709498ab587.png)

[2015-11-16 19:35] mcgrodsky commented on #324
It seems like i need to define/change "resource_name"?

[2015-11-16 20:00] mcgrodsky commented on #324
@RobertAKARobin in my routes:

Rails.application.routes.draw do
  devise_for :views
  get 'welcome/index'
  root 'welcome#index'

    devise_for :users
  resources :neighborhoods do
    resources :listings
end

[2015-11-16 20:02] dan-ator opened #325 "Issue with Routes"
I think this is a fairly straightforward thing but I cannot figure it out.  I had been using nested resources so now that these two models are purposely not nested I cannot figure out how to link them.

Basically, when user clicks on the create new report, at this point all there is is a drop down menu with cities. User picks city and hits submit.  The app then directs to that report page (later t

[2015-11-16 20:26] amaseda commented on #325
Might have something to do with the `(params[:id])` attached to `@location.reports`. What exactly do you want `@reports` to equal?

[2015-11-16 20:27] dan-ator commented on #325
The reports associated with that location.  I think the issue might actually stem from my form, which has a drop down menu.  It is:

[code]

[2015-11-16 20:33] Ly900 opened #326 "Making Seed Data"
I am trying to make seed data to display to test. I am suspicious of the schema or the way I am writing the seed data but I am not sure why they're not connecting.

Below is a pic of the seed data:
![image](https://cloud.githubusercontent.com/assets/12722650/11193896/1b75bc18-8c77-11e5-8ec3-4f13b251044b.png)

Below is a pic of the schema:
![image](https://cloud.githubusercontent.com/assets/1272265

[2015-11-16 20:37] RobertAKARobin commented on #324
Why do you have Devise both for views and users? That may be part of the problem. Also, do you have all the `do` and `end` you need? It's a little hard to tell with the indentation.

[2015-11-16 20:39] amaseda commented on #325
In that case `@reports = @location.reports`

Are you getting an error? If so, what is it?

Also, if you want to have a URL like `locations/:id/reports` then you will need to nest your resources.

[2015-11-16 20:40] dan-ator commented on #325
I changed it to @location.reports and it didn't do anything.  No error messages, it just isn't showing what I thought it would where I thought it would.  I think it is in how the form is collecting information because when I run a pry console it shows nil for a location_id value of a completed form.

[2015-11-16 20:41] amaseda commented on #326
Did you set up your associations in your ActiveRecord models?

Also, you don't want to set the primary key (`id`) of something in your seed file. That will be generated automatically. You can, however, do that for foreign keys.

[2015-11-16 20:44] amaseda commented on #321
Gonna go ahead and close this one. Re-open it if you're still dealing with this issue.

[2015-11-16 20:44] #321 closed, assigned to nobody

[2015-11-16 20:45] Ly900 commented on #326
I just noticed that it said student has_many :pins instead of has_many :logs. Oops. Copy and paste error. But I am still getting error messages. Can you tell me which line I set a primary key? I thought I set a foreign key from logs to students.

[2015-11-16 20:47] amaseda commented on #326
Copy 'n' paste strikes again!

You set the primary key here: `Student.create( id: 1 ....`

What error messages are you getting?

[2015-11-16 20:47] Ly900 commented on #326
OH if you are referring to the creation of the student with ID 1, I was trying to hard code that so that I can give the log I created a student_id of 1.

[2015-11-16 20:49] Ly900 commented on #326
![image](https://cloud.githubusercontent.com/assets/12722650/11194351/8ef2ea38-8c79-11e5-996a-0724ff884f26.png)

[2015-11-16 20:49] amaseda commented on #326
If you remove `id: 1` do you still get that error?

[2015-11-16 20:50] Ly900 commented on #326
I assume I'll have to delete the student_id:1 from the log I created too? So I cannot link them this way?

[2015-11-16 20:51] Ly900 commented on #326
No more error when I removed the IDs... what is the correct way to link them then?

[2015-11-16 20:52] Ly900 commented on #326
Also tried this way...
![image](https://cloud.githubusercontent.com/assets/12722650/11194433/10c1acc0-8c7a-11e5-8726-df7485684c27.png)

Same error:
![image](https://cloud.githubusercontent.com/assets/12722650/11194448/21907482-8c7a-11e5-8651-8a1ce7d012a8.png)

[2015-11-16 20:55] amaseda commented on #326
No need to delete `student_id: 1`. You're allowed to set a foreign key. Just not a primary key.

You can also create a `log` for `andy` using the same method in your last screenshot.

Is it working now?

[2015-11-16 20:56] RobertAKARobin commented on #324
Mia, I'm not actually seeing `devise_for :views` in [the tutorial](http://willschenk.com/setting-up-devise-with-twitter-and-facebook-and-other-omniauth-schemes-without-email-addresses/) you included. Where did that line come from?

[2015-11-16 20:57] RobertAKARobin commented on #325
Are you sure that location has any reports? What do you get when you test it out in the Rails Console? `rails c`

[2015-11-16 20:57] #325 closed, assigned to nobody

[2015-11-16 20:58] Ly900 commented on #326
OK for whatever reason, I just got it to work in Active Record. I will see if I can print them out normally. Thanks Adrian!

[2015-11-16 20:59] Ly900 commented on #326
I still have a question though- you say that I could leave student_id: 1 for the log (I assume in my first screenshot of how I created the student and log). But when I reseed my data, they give the student a new ID. How will I be able to match the log to the student if I don't give the student an ID?

[2015-11-16 21:03] Ly900 commented on #326
So I was able to do Student.find(1).logs and get the log I had made associated with that student. But when I now run rake db:seed, I still get the same error below. So... not completely fixed. Why can't I reseed?

![image](https://cloud.githubusercontent.com/assets/12722650/11194690/8f0d2b76-8c7b-11e5-9181-6b75937e119a.png)

[2015-11-16 21:13] onesick opened #327 "How can I create a root page that is not XXXXX#index"
I am trying to create a default page that people can log in, log out. Once they are logged in, they go into user specific page. Can you please guide me how I can do so? Can I create index erb in layout folder?

[2015-11-16 21:18] matiamin opened #328 "attributing data type to the select_country helper"
I'm trying to attribute data-type to the select_country helper method (using the carmens-rails gem) in my model file. Would it be t.string :country?

[2015-11-16 21:20] matiamin commented on #328
Here is my model file

[code]

[2015-11-16 21:30] Ly900 commented on #326
I think I figured it out?
Added the dependent thing to

[code]

and not having the issue right now.

[2015-11-16 21:30] #326 closed, assigned to nobody

[2015-11-16 21:36] RobertAKARobin commented on #327
Just use `root to: "controller#action"` in your `config/routes.rb`. You can use this to make any page the default page.

[2015-11-16 21:36] amaseda commented on #328
What exactly do you mean by attribute data-type? I'm not familiar with this gem, but if you're trying to store a country name as a string then yes you can do `t.string :country`.

[2015-11-16 21:38] #324 closed, assigned to nobody

[2015-11-16 21:45] matiamin commented on #328
The gem allows for a drop-down menu to let a user select a country when creating a post. Country is a column, and I assume the data-type for it in the model file is 'string'.

[2015-11-16 21:45] #291 closed, assigned to nobody

[2015-11-16 21:45] #292 closed, assigned to nobody

[2015-11-16 21:45] #293 closed, assigned to nobody

[2015-11-16 21:45] #296 closed, assigned to nobody

[2015-11-16 21:45] #297 closed, assigned to nobody

[2015-11-16 21:45] #298 closed, assigned to nobody

[2015-11-16 21:45] #300 closed, assigned to nobody

[2015-11-16 21:45] #301 closed, assigned to nobody

[2015-11-16 21:45] #304 closed, assigned to nobody

[2015-11-16 21:45] #305 closed, assigned to nobody

[2015-11-16 21:45] #306 closed, assigned to nobody

[2015-11-16 21:45] #307 closed, assigned to nobody

[2015-11-16 21:45] #308 closed, assigned to nobody

[2015-11-16 21:45] #309 closed, assigned to nobody

[2015-11-16 21:45] #310 closed, assigned to nobody

[2015-11-16 21:45] #311 closed, assigned to nobody

[2015-11-16 21:45] #312 closed, assigned to nobody

[2015-11-16 21:45] #314 closed, assigned to nobody

[2015-11-16 21:45] #316 closed, assigned to nobody

[2015-11-16 21:45] #317 closed, assigned to nobody

[2015-11-16 21:45] #318 closed, assigned to nobody

[2015-11-16 21:45] #322 closed, assigned to nobody

[2015-11-16 21:45] #323 closed, assigned to nobody

[2015-11-16 21:45] #289 closed, assigned to nobody

[2015-11-16 21:45] #290 closed, assigned to nobody

[2015-11-16 21:47] tylercrosse opened #329 "Passing API response into Table"
I'm trying to get values from a JSON provided by the gihub api and store them as values in my table.

I've been trying to do it using HTTParty because that makes a little more sense to me than using the dedicated github api gem Octokit.

In trying to debug/learn what is going on I've been trying to break this down in the rails console by passing  HTTParty the url for my repos - https://api.github.

[2015-11-16 21:48] MohamedGood opened #330 "hey im having this error message when I try to launch my webapp on rails"
Migrations are pending. To resolve this issue, run: bin/rake db:migrate RAILS_ENV=development

[code]

[2015-11-16 21:48] RobertAKARobin commented on #330
Try running `rake db:migrate`

[2015-11-16 21:49] amaseda commented on #328
Then sounds like you can save the value from the drop-down menu to a model attribute, in this case `country`.

Have you tried it out yet? I don't know how this gem in particular works but take a look through their documentation.

[2015-11-16 21:54] MohamedGood commented on #330
I ran it... I still get an error

[2015-11-16 21:54] RobertAKARobin commented on #330
What's the error?

[2015-11-16 21:55] RobertAKARobin commented on #329
Huh. That's weird. It worked just fine for me. Has it worked yet for you?

[2015-11-16 21:55] murgia opened #331 "issue with finding members that belong to a group through a joined table called memberships"
I tried to create a list of the members that belong to a group by using the membership table. I expected to see a list of group members but I am getting an error that says I am looking for every ID listed at two when I just want the ones that have a group ID of two.

My repo link ishttps://github.com/murgia/taskager and my question is about my index controller for members as well as the index view

[2015-11-16 21:55] MohamedGood commented on #330
[code]

[2015-11-16 21:56] RobertAKARobin commented on #330
If you're still getting errors, try doing DCMS all over again: `drop`, `create`, `migrate`, `seed`.

[2015-11-16 22:00] tylercrosse commented on #329
Ugh. Haha well it didn't work for the last ~hour but it works now. Is doing that Repo.create and passing it details for each repo entry and then trying to iterate over an ok way of getting the info into my DB?

[2015-11-16 22:04] amaseda commented on #331
[code]

You're using a `group_id` to look up the primary key (`id`) of a Membership.

I think you're trying to do something along the lines of...

[code]

[2015-11-16 22:07] amaseda commented on #328
@matiamin

Good to go here? If so, can you please close the issue. Thx!

[2015-11-16 22:08] #328 closed, assigned to nobody

[2015-11-16 22:09] RobertAKARobin commented on #329
Sure that's fine. I think you may be running into the Github API's rate limits: you can only query the API `x` number of times before it starts rejecting you. There are ways you can authorize your app to prevent this from happening.

[2015-11-16 22:16] tylercrosse commented on #329
Ok cool, thanks! I've got the login through Omniauth but it looks like I need to do a little more to authenticate each request. I'll keep playing with it.

Also Gringotts is cool! I wish I could figure out exactly what all of it does.

[2015-11-16 22:16] #329 closed, assigned to nobody

[2015-11-16 22:16] Ly900 opened #332 "Editing a Nested Model"
I'm trying to edit a log which belongs to a student.

I tried changing the variables in the logs controller and changing the arguments in the edit_student_log_path parameters.
I expected to be sent to the page to edit the log.
I got the following error instead:

![image](https://cloud.githubusercontent.com/assets/12722650/11196474/31024cdc-8c85-11e5-8f03-b7c475d9c7ae.png)

Here's my logs controlle

[2015-11-16 22:20] RobertAKARobin commented on #329
It's literally just a glorified version of `https://github.com/ga-dc`. We didn't like the filtering on that, so we made this one.

[2015-11-16 22:21] RobertAKARobin commented on #332
You're forgetting the `link_to`. :)

[2015-11-16 22:22] Ly900 commented on #332
_sobs_

[2015-11-16 22:22] #332 closed, assigned to nobody

[2015-11-17 01:57] onesick commented on #327
I changed it to the above and I am getting routing error called: uninitialized constant ControllerController

[2015-11-17 02:58] ascreven opened #333 "Invalid User Controller"
Hey I keep getting an error that says
ActiveRecord::RecordNotFound in UsersController#sign_in!

after I press sign-in. How do I get ActiveRecord to recognize my username?

My repo is located at: https://github.com/ascreven/All-About-Chew

Thank you!!

[2015-11-17 14:00] RobertAKARobin commented on #327
Don't ACTUALLY write `controller#action` -- replace those words with the appropriate controller and the appropriate action within that controller, like `artists#index`.

[2015-11-17 14:02] amaseda commented on #333
Can you include a screenshot of your error plz? Will take a look at your repo now. Thx!

[2015-11-17 14:03] RobertAKARobin commented on #330
I'm going to close this since it's been a while. Feel free to open a new one!

[2015-11-17 14:03] #330 closed, assigned to nobody

[2015-11-17 14:03] RobertAKARobin commented on #331
I'm going to close this since it's been a while. Feel free to open a new one!

[2015-11-17 14:03] #331 closed, assigned to nobody

[2015-11-17 14:03] MohamedGood opened #334 "hey"
can anybody tell me how I can start over without deleting my entire projects 2 file. I am having a hard time with the uninitialized user error. I want to start fresh without deleting my folder because it is connected to github already?

[2015-11-17 14:05] RobertAKARobin commented on #334
You could just create a new repo on Github. But I'd recommend trying to work through this error. Please open a new GH Issue with a descriptive title and a screenshot of the error you're getting!

[2015-11-17 14:08] schersh opened #335 "issue with accessing user_id using current_user"
I am having an issue with trying to use the devise helper method "current_user". I expected current_user to allow me to access and reference the id of the signed-in usr, but whenever I try to use current_user, I receive a Rails error message like: "unknown attribute 'user' for Apartment." I've been reading the Devise documentation on github [https://github.com/plataformatec/devise#controller-filte

[2015-11-17 14:12] MohamedGood commented on #334
I keep getting this error. I dont know how to fix it:

[code]

[2015-11-17 14:12] RobertAKARobin commented on #335
I think the trouble here is `redirect_to apartments_path(current_user, @apartment)`. The way the routes are set up, every model you need is right in the route's name. The only model in this route's name (`apartments_path`) is `Apartment`, so it should probably only take one argument, `@apartment`.

[2015-11-17 14:15] andrewsunglaekim commented on #335
Also, if apartments belong to a user, check your association helper. You may also need to use `.build` for that as well.

[2015-11-17 14:16] schersh commented on #335
Okay, it still seems to not be finding the current_user though, now I am getting the following error:

undefined method `new' for nil:NilClass

[code]

Currently, my users belong to an apartment - apartments can have many users, but users can only have one apartment. Do you think that might be the issue? Where is my association helper located?

Thank you!

[2015-11-17 14:17] RobertAKARobin commented on #334
Can you take a screenshot of the whole page with the error? If you press `Command` + `Shift` + `3` it'll take a screenshot of your whole window and save it to your desktop as something like `Screen Shot 2015-11-17 at 9.16.06 AM.png`. Then, you can just drag and drop it onto this box on Github to upload it.

[2015-11-17 14:19] andrewsunglaekim commented on #335
Maybe something like this?

[code]

I `.apartment` is an attribute of a user model. Therefore if it isn't defined yet, it's value is nil. Because of that, when we call `.new` on nil, we get the above error

[2015-11-17 14:23] MohamedGood commented on #334
Yesterday I could log on the rails server. Now I am getting this error message when I try to log on to the rails server.  The screenshot is posted below

![screen shot 2015-11-17 at 9 22 02 am](https://cloud.githubusercontent.com/assets/15020378/11213928/b1fb4c94-8d0c-11e5-809a-4033a8bb9d67.png)

[2015-11-17 14:24] schersh commented on #335
That looks right to me, but I still get an error: undefined method `user=' for #<Apartment id: nil, name: "The V St House">

@apartment = Apartment.new(apartment_params)
@apartment.user = current_user
if @apartment.save
  ...

Do I need to add something to my Apartment schema for it to be capturing the user information?

[2015-11-17 14:24] schersh commented on #335
Sorry, the error message got clipped, it reads:
`undefined method `user=' for #<Apartment id: nil, name: "The V St House">`

[2015-11-17 14:25] andrewsunglaekim commented on #335
oh right, `@apartment.user_id = current_user.id`

[2015-11-17 14:27] schersh commented on #335
Still the same type of error, `undefined method `user_id=' for #<Apartment id: nil, name: "The V St House">`

[2015-11-17 14:28] schersh commented on #335
Maybe I need to define `@user = current_user` in each controller? I'm a little confused about what the helper method is actually doing.

My index method is working when I say `def index
    authenticate_user!
    @user = current_user
    if current_user
      @apartment = current_user.apartment
    else
      redirect_to new_user_session_path
    end
  end`

[2015-11-17 14:29] mattscilipoti commented on #334
That error usually comes from a partial removal of devise.  Do you see anything from devise in the routes file?

[2015-11-17 14:30] mattscilipoti commented on #334
If you commit often, you could just look at the difference from the last commit and see what has changed during your devise installation and configuration.

[2015-11-17 14:30] andrewsunglaekim commented on #335
in your schema, do you have a column for user_id in your apartment?

[2015-11-17 14:30] andrewsunglaekim commented on #335
errr.. other way around

[2015-11-17 14:31] RobertAKARobin commented on #333
It's been a long time, so I'm going to close this. Feel free to open a new issue, Alex!

[2015-11-17 14:31] #333 closed, assigned to nobody

[2015-11-17 14:31] RobertAKARobin commented on #335
Andy's on his way!

[2015-11-17 14:33] Chauncey1989 opened #336 "Missing Template error"
I am trying to get my index.html.erb to show so I know its working but I cannot seem to get past this error

Missing template events/index - that is what rails is telling me.

[2015-11-17 14:33] andrewsunglaekim commented on #335
do user's have an apartment_id?

[2015-11-17 14:34] schersh commented on #335
That might be the issue, the users table has a foreign key column for apartment_id, but I don't think my apartment table has a column for user_id - is it necessary to have both? I

[2015-11-17 14:34] MohamedGood commented on #334
it says this in my routes.rb

[code]

But that might be a problem because I deleted my user files because a classmate told me devise would create those files for me

[2015-11-17 14:35] andrewsunglaekim commented on #335
It can't. Basically if you create an apartment and you want to associate user's to it. You have to store that association on the user model end, not in the apartment. The good news, is you can create your apartment however you want! The bad news is you have to update every user's apartment id to that new apartment you created

[2015-11-17 14:36] schersh commented on #335
These are the only two foreign keys I have currently:

[code]

Is that correct?

[2015-11-17 14:37] andrewsunglaekim commented on #335
I'm not familiar with the `add_foreign_key` syntax, but check your `db/schema.rb` file to look at what it generated for you.

[2015-11-17 14:37] schersh commented on #335
Does that mean I shouldn't worry about associating the apartment with user's once it's created? How will the program store the knowledge that the current logged in user is the one who created the apartment? I'm sorry, I'm a little turned around on this. I can experiment a bit more and check in with you later.

[2015-11-17 14:38] andrewsunglaekim commented on #335
are you in the building today?

[2015-11-17 14:38] schersh commented on #335
I'm working at home this morning, but I'll be in before the Outcomes trip.

[2015-11-17 14:41] andrewsunglaekim commented on #335
If you want to associate the user to the apartment as one that belongs to the apartment, you can do that by updating the apartment_id on the user. If you want to know which user created that apartment, you could put a foreign key on the apartment for a creator_id aliased from the user class

[2015-11-17 14:43] andrewsunglaekim commented on #335
In other words it won't know unless you code an id into the apartment representing that id

[2015-11-17 14:44] andrewsunglaekim commented on #336
could you screen shot the entire error? is your `index.html.erb` in the `app/views/events` folder?

[2015-11-17 14:44] Chauncey1989 commented on #336
I had help so its all good now thanks

[2015-11-17 14:45] #336 closed, assigned to nobody

[2015-11-17 14:45] schersh commented on #335
Ah, okay - I will try to untangle this, I think I was approaching it backwards. thanks!

[2015-11-17 14:46] mattscilipoti commented on #334
Exactly.  `devise_for :users` was added when you configured devise with `rails generate devise User`.  It expects a User model, which you have deleted.  They were there when that line was added.

[2015-11-17 14:57] RobertAKARobin commented on #327
It's been a while so I'm going to close this. Feel free to open a new issue if need-be!

[2015-11-17 14:57] #327 closed, assigned to nobody

[2015-11-17 15:00] RobertAKARobin commented on #335
If you're good to go, please close this issue! You can always open more.

[2015-11-17 15:08] MohamedGood commented on #334
now my server is up... Now I have this error:

![screen shot 2015-11-17 at 9 57 04 am](https://cloud.githubusercontent.com/assets/15020378/11214893/a00b6f78-8d11-11e5-8925-34b719317a83.png)

[2015-11-17 15:12] RobertAKARobin commented on #334
You need to run `rake db:create`.

[2015-11-17 15:14] #335 closed, assigned to nobody

[2015-11-17 15:27] dan-ator opened #337 "Issue with Comments"
Right now I have a model for Reports, and nested under that in my routes.rb is InfoItems.  Now I am adding a model for comments.  One info_item has many comments.  The idea is each report can have many info_items and each info_item can have many comments.  Comments is not nested since I read it is bad to nest more than one deep.  Right now comments are not showing up under each info_item as I thin

[2015-11-17 15:33] RobertAKARobin commented on #337
Nested resources are different from associations. Nested resources just means you can write URLs like `/artists/32/songs` -- it has no bearing on whether you can do `@artist.songs` or `@song.artists`. They're separate things.

What lets `info_item` have `.comments` is that the `Info_Item` model `has_many :comments`. It looks like you've defined that, or else `info_item.comments` would throw an err

[2015-11-17 15:34] RobertAKARobin commented on #337
Also, you can write `<%= "#{info_item.category}" %>` as just `<%= info_item.category %>`.

`<%= %>` converts whatever's inside it to a string (as opposed to `<% %>`, which doesn't). `""` also converts whatever's inside it to a string. So if all you're doing is writing out a string, you don't really need both.

[2015-11-17 15:54] dan-ator commented on #337
I think the issue was that no comments were created because I put the "create comments" button in the each loop so it wasn't showing up for me to create a comment.  So I moved it up a few lines and the link appears but is not connecting to the form.  Now it is giving me error related to not being able to find Report with ID.  But for the comments controller, the ID should just be :id because that

[2015-11-17 15:57] RobertAKARobin commented on #337
That shouldn't affect the fact that `hi world` isn't showing up. That's caused by Rails thinking your `info_item` doesn't have any comments.

However, there is also an issue with this:

[code]

The name of this route is `new_comment_path`. Routes' names tell you what models you need in order to make that route work. The only model in `new_comment_path` is `comment`, so you would write `new_comment

[2015-11-17 15:59] tylercrosse opened #338 "Saving Token"
I'm using Omniauth to handle logins to github. I've got my application registered (https://github.com/settings/applications/new) and the corresponding Client ID and Client Secret saved in an application.yml file hidden by figaro. Omniauth somehow passes this to github presumably by a file I created config/initializers/omniauth.rb

[code]

 When a user logs in Omniauth sends back a bunch of stuff,

[2015-11-17 16:05] RobertAKARobin commented on #338
You access Figaro's environment variables in the `ENV` constant. As in: `ENV["this_is_my_variable"]`.

But yeah, I ran into the same thing earlier with Garnet. Sorry to tell you that my solution was to use Octokit:

https://github.com/ga-dc/garnet/blob/master/app/controllers/users_controller.rb#L122
https://github.com/ga-dc/garnet/blob/master/app/models/github.rb

Note that I made a Github model (

[2015-11-17 16:11] dan-ator commented on #337
Thanks.  Now I can pull up the new comment form but when I try and submit it gives me a "couldn't find report with id=" error.  my code is as follows in the comments controller:

[code]

I also tried using "params[:report_id]" but that also gave the same error.

[2015-11-17 16:15] RobertAKARobin commented on #337
What ID is it using? Is it actually the ID of the thing you're trying to show? If not, it must be getting the ID from some other variable. Figure out what that variable is, and you should be ready to rock.

[2015-11-17 16:33] tylercrosse commented on #338
What's the advantage to not using something like Omniauth to handle logins to github?
I'm also starting to to sweat the clock on my lack of tangible progress and considering scarping everything and starting over on a simpler project.

[2015-11-17 16:33] dan-ator commented on #337
Sounds like a riddle.  I'm still confused.

[2015-11-17 16:36] RobertAKARobin commented on #337
If your error says "Couldn't find Report with id=32", that 32 has to be coming from somewhere. Once you figure out what has that ID of 32, you'll figure out what needs fixing.

Can you show what the code in your view looks like now?

[2015-11-17 16:37] dan-ator commented on #337
Code in view is

[code]

[2015-11-17 16:38] dan-ator commented on #337
In comments controller code route is:

[code]

[2015-11-17 16:38] dan-ator commented on #337
But that gives me the error "Couldn't find Report with 'id'=#Report::ActiveRecord_Relation:0x007fd34248a9f0" in reports controller.

[2015-11-17 16:39] dan-ator commented on #337
and the reports controller was previously working fine.  it is

[code]

[2015-11-17 16:39] andrewsunglaekim commented on #338
3rd party auth is really jsut so users don't have to register for yet another site. Also you can parse information from where you auth from like profile pics and stuff. Other than that, not really any benefits.

[2015-11-17 16:40] RobertAKARobin commented on #337
Ah-HAH! That's because `@report = Report.all`. `Report.all` returns an array of reports. Even if you just have one report, it'll still return an array of reports. `report_path` has to take a _single_ report as its argument.

[2015-11-17 16:40] RobertAKARobin commented on #338
It's kinda like using Devise: when it works, it's great. When it doesn't, it's a royal PITA. You could totally just put together your own little Omniauth thing, which is what we've done with Garnet. Sure, you miss out on some of the conveniences of Omniauth -- but trying to get those conveniences can be really inconvenient, and we didn't need them anyway for our purposes.

[2015-11-17 16:41] dan-ator commented on #337
It does the same error though when I put in `@report = Report.find(params[:id])`  I thought putting in the .All would atleast not give an error because I know that exists.

[2015-11-17 16:43] ghost opened #339 "changing nth letter in word"
I'm trying to change the nth letter in my brand name.  Basically every capital letter i want to be pink.  I tried using ::first-letter class and separating the word into multiple parts but they won't all stay in one line.  I saw online that maybe this can be done with jquery, but I was wondering if there is an easier way.

[code]

[code]

[2015-11-17 16:45] ghost opened #340 "issue with devise (i think)"
I am building an app with many-to-may relationships.

vets > appointments < pets

I expected
When I create a new Vet(user) on /users/new, I expect to see the Vet name added to the list on the users/index page.

This happened instead
users/index displays information created from the users/sign_up page.  (I've temporarily set the page to display user.email to confirm this.)

Devise seems to be preve

[2015-11-17 16:49] ebirving commented on #339
What did you use to separate the word into parts? What kind of tag?

[2015-11-17 16:55] mcgrodsky opened #341 "Application.css disappeared?"
Lost stylesheet! When i try and make a new application.css is my "assets" it says it already exists.

![screen shot 2015-11-17 at 11 53 44 am](https://cloud.githubusercontent.com/assets/14894858/11218234/0b2fec2e-8d22-11e5-93f8-d55ddd64daec.png)

[2015-11-17 17:05] ebirving commented on #341
Yikes! Did you mean to delete the `application.css`, or did it spontaneously disappear? Are the styles still applying?

[2015-11-17 17:08] RobertAKARobin commented on #340
I believe the problem here is that with Devise, you can only create new users/vets by _signing up_ as a new user/vet -- you can't use one user to create another user.

So I'd suggest removing Devise altogether, _or_ having a Vet model that is separate from the User model.

[2015-11-17 17:09] #334 closed, assigned to nobody

[2015-11-17 17:09] #337 closed, assigned to RobertAKARobin

[2015-11-17 17:09] #338 closed, assigned to RobertAKARobin

[2015-11-17 17:11] ebirving commented on #341
Follow-up: What were you doing when you noticed that it had disappeared?

[2015-11-17 17:53] ebirving commented on #339
The `::first-letter` pseudo-selector can only be applied to block-level elements, which is probably why your text was splitting onto separate lines. If you wrap each letter than you want to be pink in `<span></span>` tags and assign them a class, you should be able to style that class without impacting positioning.

[2015-11-17 19:10] ghost commented on #340
I'd like to create a new vets model, make that ply well with pets through my appointments and then come back to devise/user login. 
Is that a smart play if I leave users alone, create new vets, and make the necessary changes to move from current users and pets to vets and pets?

[code]

From: Robert Thomas notifications@github.com
Sent: Tuesday, November 17, 2015 12:08 PM
Subject: Re: [project2] i

[2015-11-17 19:12] RobertAKARobin commented on #340
Sounds good to me!

[2015-11-17 19:19] RobertAKARobin commented on #341
Before anything, I'd suggest just quitting and restarting Atom. It can be a little weird. While you're at it, use the Finder (or Terminal or something other than Atom) to actually go look for that file. It may be there!

[2015-11-17 19:28] ghost commented on #340
Thanks robin

On Tue, Nov 17, 2015 at 11:12 AM -0800, "Robert Thomas" notifications@github.com wrote:

Sounds good to me!

—
Reply to this email directly or view it on GitHub.

[2015-11-17 19:28] ghost commented on #339
thanks i'll try that! I was using the <p> tag before.

[2015-11-17 19:32] mcgrodsky commented on #341
@RobertAKARobin you got it. Finder found it in a sub-folder (must have moved it acceidentally during a coding frenzy) and i was able to move it back over where it belongs!

[2015-11-17 19:32] #341 closed, assigned to nobody

[2015-11-17 19:35] ghost commented on #339
IT WORKS! and it looks so beautiful (　＾∇＾) thanks!

[2015-11-17 19:35] #339 closed, assigned to nobody

[2015-11-17 19:40] alifrumin opened #342 "Join Table in new/edit"
I made a join table linking user and clubs called memberships, I got the users to show up but im struggling to get to into the backend

[2015-11-17 19:43] RobertAKARobin commented on #342
Can you be more specific? Are you getting an error?

[2015-11-17 19:43] #340 closed, assigned to nobody

[2015-11-17 19:43] jsm13 commented on #342
Are you able to create clubs/memberships in the rails console?

[2015-11-17 19:51] lewis2ba opened #343 "Filter by Tag"
I am trying to create a form on my books index page to filter the books by tag. I think I have a form that works but when I try to submit the tag I want to filter by I think rails is taking the params and trying to make a new book.

Here is the code for my form:

[code]

And my books index controller:

[code]

I am not sure this logic will work but I cant test it until the form is working correctl

[2015-11-17 19:55] RobertAKARobin commented on #343
Cool! Try looking at the source code of that page with the form on it (`Command` + `Option` + `U`). What are the `action` and `method` of the form tag?

[2015-11-17 19:57] lewis2ba commented on #343
[code]

It looks like the action is "/books" and the method is "post"

[2015-11-17 19:58] lewis2ba commented on #343
Hmm copying and pasting the html caused it to spit out the tags hah

[2015-11-17 20:01] lewis2ba commented on #343
May have figured it out, form_tag({:action=>"index"},{:method=>"get"})

[2015-11-17 20:02] RobertAKARobin commented on #343
Hah, yeah, it does that unless you wrap it in backtics.

So you can see that the method for the form is `post`...

Oh. Yeah, you got it. :+1:

[2015-11-17 20:07] onesick opened #344 "Created a dummy controller called home_controller"
Hi there,
I am getting the following error:
Unable to autoload constant HomeController, expected /Users/wonsikjeong/wdi/exercises/project2/CRM_project/app/controllers/home_controller.rb to define it

Am I supposed to create Dummy model as well? If i do, how can I create the relation for the model?

I created a dummy controller called home_controller which inherits ApplicationController.
Within the

[2015-11-17 20:08] RobertAKARobin commented on #344
It's because it says `class HomesController`, rather than `class HomeController`. Check the pluralization and you should be good!

[2015-11-17 20:10] onesick commented on #344
Yeah it worked! I thought we are supposed to plurize the controller class name. Because I did like that for every single one...

[2015-11-17 20:11] RobertAKARobin commented on #344
You are, and you're supposed to pluralize the name of the file (`homes_controller.rb`) and the route (`homes#index`) as well.

[2015-11-17 20:12] onesick commented on #344
But it was not working with class HomesController. Why is that?

[2015-11-17 20:13] onesick commented on #344
NVM that was a dumb question. I reworked the whole home files changed to plurals

[2015-11-17 20:14] onesick commented on #344
Thank you.

[2015-11-17 20:14] #344 closed, assigned to nobody

[2015-11-17 20:22] RobertAKARobin commented on #343
Hey, if this is solved, could you close it?

[2015-11-17 20:24] #343 closed, assigned to nobody

[2015-11-17 20:25] alifrumin commented on #342
Thank you Matt!

[2015-11-17 20:25] #342 closed, assigned to nobody

[2015-11-17 20:31] ckib16 opened #345 "Heroku app works but can't seed data - seed works fine on local machine"
# Problem:

my heroku app runs. But Heroku can't load the seed.rb data I have built
My seed.rb file works flawlessly on my local Mac.
Heroku link: https://pilot-tracker.herokuapp.com/
Github link: https://github.com/ckib16/pilot_tracker
## Heroku deployment steps I took:

[code]
## Main error I get when running `heroku run rake db:seed`:

[code]
### Full errors:

Bash: https://gist.github.com/ckib

[2015-11-17 20:32] RobertAKARobin commented on #345
Dang. Nice markdown, Chris!

[2015-11-17 20:32] RobertAKARobin commented on #345
I think the problem may be that it's `heroku run rake db:migrate`, not `git run rake db:migrate`.

[2015-11-17 20:36] ckib16 commented on #345
Ah sorry - that was a typo - I did use `heroku run rake db:migrate` & ``heroku run rake db:seed`

[2015-11-17 20:41] mcgrodsky opened #346 "Suggestions for dealing with Merge Conflicts?"
I've been working in a branch called "first-day" and want to merge this entire branch into my master. I received the following merge conflicts and am confused as how to deal with them. Is there a way to "hard" merge the branch I want into master?
![screen shot 2015-11-17 at 3 38 13 pm](https://cloud.githubusercontent.com/assets/14894858/11224180/a68fc9a4-8d41-11e5-9f35-4339ca65cc04.png)

[2015-11-17 20:42] RobertAKARobin commented on #346
Yes! If you're _sure_ that's what you want to do, then first you want to stop your current merge:

[code]

Then, you use the `-X` option:

[code]

In this context, `theirs` means "the other branch" and `ours` would mean "the branch I'm currently on".

[2015-11-17 20:44] RobertAKARobin commented on #345
I'm going to try cloning it down myself and pushing to my own Heroku. One sec.

[2015-11-17 20:44] ckib16 commented on #345
Ok copy that. Standing by.

[2015-11-17 20:46] RobertAKARobin commented on #345
As I'm waiting for it to upload, my guess would be that you changed one of the migration files on your computer, and haven't since tried creating the database from scratch (i.e. DCMS). So this error may have been there a while; you just didn't encounter it since you didn't run old migrations.

[2015-11-17 20:46] mattscilipoti commented on #345
Check out the history of the Location migration: https://github.com/ckib16/pilot_tracker/commits/master/db/migrate/20151115210926_create_locations.rb

[2015-11-17 20:46] mcgrodsky commented on #346
hmm this is still presenting a merge conflict. It doesn't like that i've been messing with the file extension of my stylesheet.

![screen shot 2015-11-17 at 3 45 29 pm](https://cloud.githubusercontent.com/assets/14894858/11224308/556c139c-8d42-11e5-989a-bffa34c1876a.png)

[2015-11-17 20:47] andrewsunglaekim commented on #345
Seems like you edited your migration in your version control for git. Maybe try to drop the production DB and recreate/remigrate/reseed

[2015-11-17 20:47] ckib16 commented on #345
Ah yes. OK I can see that.

Am I stuck now because Heroku won't let you drop the DB?
Or should I just DCMS my local DB and re-push to Heroku?

[2015-11-17 20:47] mattscilipoti commented on #345
Once a migration has been run, it is not run again (therefore, it won't use the new changes).

[2015-11-17 20:48] RobertAKARobin commented on #345
It actually worked perfectly fine for me on Heroku. https://enigmatic-bastion-9011.herokuapp.com/

[2015-11-17 20:48] mattscilipoti commented on #345
How about `heroku run rake db:migrate:redo`?

[2015-11-17 20:48] andrewsunglaekim commented on #346
just go into the files causing the conflict. Get rid of the parts you don't want, then stage and commit changes.

[2015-11-17 20:48] mattscilipoti commented on #345
@RobertAKARobin That's because you didn't run the migration before he changed it.

[2015-11-17 20:49] RobertAKARobin commented on #346
Yep. You'll see scary stuff like `<<<<<<<<<<<<<<< HEAD` and `==== 12387498237489324`. Just imagine those were any other lines of text, and then delete the lines of text you don't want (which presumably will include those two).

[2015-11-17 20:49] ckib16 commented on #345
@RobertAKARobin Waaaa? Yes, that's what I want. Not working on my machine though.

Ok @mattscilipoti - I'll try that.

[2015-11-17 20:49] RobertAKARobin commented on #345
@mattscilipoti I cloned it down just now.

[2015-11-17 20:50] mattscilipoti commented on #345
Sorry.  It's changed a bit.  `heroku run rake db:rollback`

[2015-11-17 20:50] tylercrosse opened #347 "Passing token into session"
I've got a Class (Github) that uses HTTParty to get info from the github API, which requires a username and token. I'm trying to figure out how to pass that info into this method.

Here is where I'm trying to get the token and username into the session

[code]

and here is where I'm trying to pass the session into the Github.rb Class. This is where I'm currently stuck. How do I get that user_id an

[2015-11-17 20:51] ckib16 commented on #345
Ok guys working!

@mattscilipoti - I actually used your 1st one and it worked `heroku run rake db:migrate:redo`

Thanks!

[2015-11-17 20:51] RobertAKARobin commented on #345
Great, Chris! If it's solved, could you close this issue?

[2015-11-17 20:51] ckib16 commented on #345
Yes will do, thanks!

[2015-11-17 20:52] mattscilipoti commented on #345
@RobertAKARobin Look at the history I linked above.  Chris ran the migration on Heroku, then added 'emblem_url' after that migration was run.  You ran the migration with the latest code, not the one before the change (without emblem_url).

[2015-11-17 20:53] ckib16 commented on #345
@mattscilipoti Just to clarify. Since I changed the DB after the original migration was run, AND we can't drop Heroku DB, I had to run `heroku run rake db:migrate:redo` to essentially say:

"Hey Heroku, do ALL my migrations from scratch again!"

Is that correct?

[2015-11-17 20:53] andrewsunglaekim commented on #347
You're very close. All you need to do change your initialize method to take an argument

[2015-11-17 20:55] mcgrodsky commented on #346
Cool, this worked. Thanks!

[2015-11-17 20:55] #346 closed, assigned to RobertAKARobin

[2015-11-17 20:58] RobertAKARobin commented on #345
Got it, Matt.

Almost! `redo` "undoes" or "rolls-back" _one_ migration, and then runs it again.

http://edgeguides.rubyonrails.org/active_record_migrations.html#rolling-back

[2015-11-17 20:58] andrewsunglaekim commented on #347
Something like this:

In repos ctrl:

[code]

Then in `github.rb`:

[code]

[2015-11-17 20:59] ckib16 commented on #345
Ah, I see.

Is there a way to do ALL the migrations at once? Or you just have to go one at a time?

[2015-11-17 20:59] RobertAKARobin commented on #345
That would be `rake db:migrate:reset`.

[2015-11-17 21:00] andrewsunglaekim commented on #347
Basically the model itself, can never know about the session, so we pass in things from the session as arguments of the initialize method for the `Github` class

[2015-11-17 21:00] ckib16 commented on #345
Perfect, thanks. Closing again now. Much appreciated.

[2015-11-17 21:00] #345 closed, assigned to RobertAKARobin

[2015-11-17 21:03] rebeccaestes opened #348 "issue with deleting attendances"
I tried various ways to delete rows from the join table database called attendances, both modeled off of the tunr many_to_many code and my own attempts. I expected it to work but I just got errors. For lines 62 and 63, I got type errors of "Cannot visit User" and "Cannot visit Concert" respectively, and for line 64 I got a syntax error.

My repo link is https://github.com/rebeccaestes/project2 and

[2015-11-17 21:05] ddayporter opened #349 "Trying to create "Next" button to cycle through instances"
I can get it to increment by 1 and reset to the beginning, but as instances are deleted, the params :id can't neatly increment by 1, it needs to go to the next available instance.. There must be a simple way to do this but my ideas don't seem simple (idea: create a new array of just the IDs of each instance, and then somehow on page load find the id in the array and create a link to the next ID in

[2015-11-17 21:11] ddayporter commented on #349
oh my gosh there's a .next - :blush: obviously!

[2015-11-17 21:11] #349 closed, assigned to nobody

[2015-11-17 21:11] ArmaniH opened #350 "devise login stopped working"
I'm not sure exactly what happened, but when I attemt to login the page just goes back to the login page

![screen shot 2015-11-17 at 4 09 07 pm](https://cloud.githubusercontent.com/assets/13981641/11225021/e9d6e5d6-8d45-11e5-9346-79b3b36d92b5.png)

[2015-11-17 21:12] dan-ator opened #351 "Model/Migration Question"
No specific error, just adding a model/migration and want to make sure I have the right association built in.  So basically a User has many Reports and a Report belongs to Location.  Now I am adding Profile in a one to one association with User.  The question is, I want to make a column in Profile that will be a link to the Reports created by that User.  So is the link between User and Reports eno

[2015-11-17 21:12] RobertAKARobin commented on #348
I'ma come take a look.

[2015-11-17 21:13] tylercrosse commented on #347
Are sessions unique to each controller? I don't really get why they work sometimes and others not. I stuck a binding.pry to troubleshoot and I'm still confused.

[code]

[2015-11-17 21:14] RobertAKARobin commented on #348
The issue was using `.where(user = @user)` instead of `.where(user: @user)`.

[2015-11-17 21:14] #348 closed, assigned to RobertAKARobin

[2015-11-17 21:14] andrewsunglaekim commented on #347
nope, sessions get instantiated whenever you set a variable within it. And don't get deleted unless u manually delete it or the session it self is otherwise cleared. Once a session variable is set, you have access to it in all controller actions and views

[2015-11-17 21:16] RobertAKARobin commented on #350
Could you show me what your `application_controller.rb` looks like?

[2015-11-17 21:17] RobertAKARobin commented on #351
Gotcha. So to be sure, you want to be able to say `@profile.reports`, correct?

You would do this with a "has many through". Here's an example: https://github.com/ga-dc/garnet/blob/master/app/models/group.rb#L14

[2015-11-17 21:18] ArmaniH commented on #350
Sure thing
![screen shot 2015-11-17 at 4 16 24 pm](https://cloud.githubusercontent.com/assets/13981641/11225196/d6e389ce-8d46-11e5-94b9-a70241e60906.png)

[2015-11-17 21:18] dan-ator commented on #351
Well it would be on the particular user's profile page.  Not sure if that is the same.  But it sounds like you are saying that as long as the profile has an associated User then I should be able to easily link to the Reports on the profile page?

[2015-11-17 21:19] RobertAKARobin commented on #350
Cool; thanks. Have you specified a `root` in your `config/routes.rb`?

[2015-11-17 21:22] RobertAKARobin commented on #351
Yeah. In fact, since it's one-to-one between the profile and user you don't even need the "has many through". If the profile belongs to one user, and the user has many reports, you should be able to just call `@profile.user.reports` to get all of that profile's user's reports.

[2015-11-17 21:23] #347 closed, assigned to nobody

[2015-11-17 21:24] dan-ator commented on #351
Cool.  Thanks.

[2015-11-17 21:24] #351 closed, assigned to RobertAKARobin

[2015-11-17 21:24] ArmaniH commented on #350
I do... I'm re-raking my routes

[2015-11-17 21:24] lewis2ba opened #352 "Books have tags through taggings, having a hard time getting to books from the tags"
Books have tags. On my index page I have a form to filter the books by tag. I cant seem to get to the books from the tags and taggings. My code:

[code]

I am trying to build arrays of taggings and then iterate over that array to select the book via taggings.book put those books in an array and then display them on the index page.

The error:
undefined method `book' for #<ActiveRecord::Association

[2015-11-17 21:26] ArmaniH commented on #350
We're good! Thanks!

[2015-11-17 21:26] RobertAKARobin commented on #350
Wooooo

[2015-11-17 21:26] #350 closed, assigned to RobertAKARobin

[2015-11-17 21:27] lewis2ba commented on #352
Oh, and that first

[code]

is just for debugging

[2015-11-17 21:28] andrewsunglaekim commented on #352
Can you link all of your associations in your model definitions?

[2015-11-17 21:30] lewis2ba commented on #352
[code]

[code]

[code]

[code]

[2015-11-17 21:31] andrewsunglaekim commented on #352
Basically you want to list all of the books for one tag? or all the books for multiple tags?

[2015-11-17 21:32] lewis2ba commented on #352
Yeah

[2015-11-17 21:33] solowt opened #353 "having trouble parsing a json object from spotify"
Here's the object:

[code]

within it there are tracks of an album, but I'm not sure how to loop through it and extract each track.

[2015-11-17 21:34] andrewsunglaekim commented on #352
Maybe something like this:

[code]

[2015-11-17 21:36] solowt commented on #353
here's the same json except separated out a bit.  still not quit sure how to iterate through each track

[

#<RSpotify::Track:0x00000005b2dbf8 @available_markets=["AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "IE", "IS", "IT", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY

[2015-11-17 21:38] andrewsunglaekim commented on #352
If you want to list books for multiple tags, that will look a little different

[2015-11-17 21:39] #352 closed, assigned to nobody

[2015-11-17 21:42] RobertAKARobin commented on #353
Something like:

[code]

[2015-11-17 21:43] RobertAKARobin commented on #353
To be more specific: it looks like a ginormous array. To get, say, the `href` of the first thing in that array, it looks like you could do:

[code]

[2015-11-17 21:46] #353 closed, assigned to RobertAKARobin

[2015-11-17 21:59] jacohen10 opened #354 "issue with time zone"
I tried adding the following code to my config/application.rb file `config.time_zone = 'Eastern Time (US & Canada)'
    config.active_record.default_timezone = :local`

I expected to get Eastern Time when I used created_at but it remained in UTC time instead.
My repo link is https://github.com/jacohen10/Project2/blob/master/config/application.rb and my question is about line 11.

[2015-11-17 22:00] andrewsunglaekim commented on #354
https://github.com/ga-dc/garnet/pull/251/files check out this PR!

[2015-11-17 22:01] #354 closed, assigned to nobody

[2015-11-17 23:26] mcgrodsky opened #355 "Associating models with User"
Ok, i've been stuck on this ALL day so i'm reaching out for help! I have a model called "listings" which is where logged in users can create a listing. pretty simple. Just trying to make it so that only the user who created that listing can edit/delete the listing. I know we did this in Scribble but i don't think mine ever worked. In my listing_controller I have tried doing the following code for

[2015-11-17 23:42] Ly900 opened #356 "Making Users Seed Data"
I am trying to make fake users and associate objects with them so I don't have to recreate them myself while playing around with my app.
I tried creating them in seeds.rb and in ActiveRecord.
I expected them to be created.
I keep getting a rollback in ActiveRecord instead. So I did DCM to reset the database but it still says a user exists for any user I try to create.

This is the error I'm gettin

[2015-11-17 23:42] brittonwalker opened #357 "Creating Comments in my Post Index"
So I'm having a problem understanding how to start this idea. My page is routed to the post/index page that displays all blog posts. I want to attach a form at the bottom of each post where you can write in a comment right there and never leave the index page. The only other way I could think to implement comments is to take it to the individual show page. I do not want to do this. I basically wan

[2015-11-18 00:06] elisekain commented on #356
Hey Ly... I had this problem too... here's the code that's working now in my seed file...I think its easier to pass in the password and password_confirmation rather than trying to pass in the encrypted_password:

[code]

Ignore the username: "bonnie" and similar if you haven't added a username column to your devise table.

[2015-11-18 00:10] onesick opened #358 "Utilizing Devise and users"
The first step I did for user authentification was creating devise gem, and used it to create views, and models.
After a while, I tried to follow steps from this resource: https://github.com/ga-dc/curriculum/tree/master/05-mvc-with-rails/rails-sessions-and-auth

[code]

and was having duplicate users error. So I erased that migration file.

I think devise gem handled everyting including creating m

[2015-11-18 00:10] Ly900 commented on #356
I'm going to give it a try. I got it to work once and I couldn't remember how. It might have been the exclamation point but not sure. Thanks!

[2015-11-18 00:14] elisekain commented on #355
It may not be the most elegant solution...but I used an if...else statement in my view that only let the user see the edit/delete buttons if its their listing (in the "show" view):

[code]

[2015-11-18 00:24] RobertAKARobin commented on #355
:+1: for Elise's solution!

[2015-11-18 00:26] RobertAKARobin commented on #357
So you want the comments to show up on the post's show page?

How about something like:

[code]

That's like this from Tunr: https://github.com/ga-dc/tunr_rails_deployment/blob/master/app/views/artists/show.html.erb#L8

[2015-11-18 00:31] RobertAKARobin commented on #358
I'm afraid you were actually looking at the incorrect readme. This is our fault: we had one folder named `rails-sessions-and-auth-with-devise` and one named `rails-sessions-and-auth`, which is very confusing. I just changed it so now there's just one folder. Please refer to the readme here:

https://github.com/ga-dc/curriculum/tree/master/05-mvc-with-rails/rails-sessions-and-auth

[2015-11-18 00:45] mcgrodsky commented on #355
@elisekain ELISE you are brilliant!!

[2015-11-18 00:45] #355 closed, assigned to nobody

[2015-11-18 00:59] #356 closed, assigned to nobody

[2015-11-18 01:02] nolds9 commented on #357
@brittonwalker, I think what you are looking for is to render a partial view, in this case for a new comment.  Say if you had new comment form in `app/views/comments/_form.html.erb`, you could render that view inside another view with something like: `<%= render partial:"comments/form" %>`

For more info, I'd check out the [guides](http://guides.rubyonrails.org/layouts_and_rendering.html)

[2015-11-18 02:09] lewis2ba opened #359 "Continued problems with Tag/Tagging - using if statements to create tags and/or taggings"
Hi, I am still having troubles implementing my Tag/Tagging system. Andy was helping me and I think I am close but am running into some difficulties. I want to add tags to my books so that the user can filter by tag on the index page. I created a new tag page and form that takes one param, name. I am trying to write an if else statement in my controller to create a new tag and tagging if that name

[2015-11-18 02:18] RobertAKARobin commented on #359
Bingo! It's because `name` is inside `tag`. Try `params[:tag][:name]`. Might need to futz around with trying combinations of strings and symbols of that doesn't work.

ORRRR you could create a `tag_params` method!

[2015-11-18 02:25] lewis2ba commented on #359
AHHHHHH IT WORKS! THANKS! I already had a tag_params method but didn't realize I could use it. Now I can sleep. Thanks again

[2015-11-18 02:28] #359 closed, assigned to nobody

[2015-11-18 06:28] kaustly opened #360 "sqlite3 vs postgresql"
It seems like no matter what i do, always end up with sqlite3 in my gem file instead of postgresql...
why is this and how can i change it?
 (yes even when I run 'rails new (name) postgresql' and no I am not using scaffolding)

[2015-11-18 13:17] ghost opened #361 "User Agent Stylesheet Overwrite"
I'm trying to style the background of a text_area field and it is getting overwritten in my browser. I've done some research and installed a normalize-rails gem but it doesn't seem to be helping?

Is the best option inline styling?

[2015-11-18 13:18] amaseda commented on #360
Are you including that `-d` in the command line? Should look like: `rails new appname -d postgresql`.

Although if you don't want to create a new application, you can (1) add the `pg` gem to your `Gemfile`, (2) run `bundle install` and (3) modify your `database.yml` file so it looks something like this...

[code]

[2015-11-18 13:24] amaseda commented on #361
What sort of selectors are you using when styling the text areas? Could be an issue of [specificity](https://css-tricks.com/specifics-on-css-specificity/). Don't need to resort to inline styling or a gem.

You can also see how exactly browser styling is overriding your CSS by inspecting the element. Make sure that the specificity of the browser's selectors is less than yours.

[2015-11-18 13:30] kaustly opened #362 "Can't figure out this error"
It may just be that I'm still sleepy, but I can't seem to get past this routing error "uninitialized constant controller"

I'm trying to merge multiple lesson plans and screencasts to create my app and I think I got tripped up along the way...

<img width="1440" alt="screen shot 2015-11-18 at 8 23 49 am" src="https://cloud.githubusercontent.com/assets/13460389/11242154/f502cb68-8dcd-11e5-8460-5222

[2015-11-18 13:30] ghost commented on #361
Thanks Adrian, it looks like you're right.

It was an invalid property value. I guess I'll look in to that some more!

[2015-11-18 13:30] #361 closed, assigned to nobody

[2015-11-18 13:32] amaseda commented on #361
:+1:

[2015-11-18 13:32] amaseda commented on #360
Gonna close this one but feel free to re-open if the issue resurfaces!

[2015-11-18 13:32] #360 closed, assigned to nobody

[2015-11-18 13:34] amaseda commented on #362
Have you created a `works_controller.rb` that corresponds to this `WorksController` yet?

[2015-11-18 14:14] kaustly commented on #362
I haven't, but I thought that was supposed to be created when I ran
"rails g model Work public:boolean media_type:string user:references" or does that just create the work.rb?

[2015-11-18 14:17] RobertAKARobin commented on #358
I'm going to close this, but feel free too open a new one!

[2015-11-18 14:17] #358 closed, assigned to nobody

[2015-11-18 14:17] RobertAKARobin commented on #357
I'm going to close this, but feel free too open a new one!

[2015-11-18 14:17] #357 closed, assigned to nobody

[2015-11-18 14:19] amaseda commented on #362
Nope, that'll just create the model and migration!

[2015-11-18 14:21] kaustly commented on #362
... maybe I should get some coffee...

Thanks!

[2015-11-18 14:22] amaseda commented on #362
☕️☕️☕️

[2015-11-18 14:22] #362 closed, assigned to nobody

[2015-11-18 14:42] kaustly opened #363 "rake db:migrate"
I can't seem to run 'rake db:migrate' without getting this error:

[code]

[2015-11-18 14:47] RobertAKARobin commented on #363
That could mean either that you haven't done `rake db:create` yet, or that you changed your migrations in such a way that they're now out of order -- that is, you have a migration trying to update a column in your Works table before the migration where you actually create the Works table.

Remember, your migration files are in chronological order based on when they were created; that's what the bi

[2015-11-18 14:55] kaustly commented on #363
So I have a migration for 'users', a migration for 'works' (artworks), and a migration for 'digs' (likes). As they stand in the db folder right now they are in that order; so, I don't think the sequence is my problem.

I tried running
'rake db:drop db:create db:migrate'
and got this (sorry in advance):

[code]

[2015-11-18 15:02] RobertAKARobin commented on #363
The first error is caused by that database already being used, meaning you either have `rails s` running somewhere, or `psql` running somewhere. Fix that, and try it again.

Also, I'd recommend doing them _not_ all in one command, but in separate commands. That is, instead of `rake db:drop db:create db:migrate`, doing:

[code]

That way, you won't get a zillion lines of error messages when one thi

[2015-11-18 15:10] ghost opened #364 "issue with rendering data on show page"
I tried _____.
To render a list of pending appointments on each vet's show page, /vets/someID.

[code]

I expected _____ to happen.
Expected a list of pending appointments listed by pet name and time.

_____ happened instead.
No content displayed.  Have successfully created appointments for several vet/pet combos.

My repo link is ___
https://github.com/thomhouseholder/project2-vet

and my questio

[2015-11-18 15:15] murgia opened #365 "issue with declaring variables in my controller so I access a join table properly"
I tried listing the tasks for each member within a group but it is displaying the task bases on group_id for every member and not the member_id. I expected each task to show up to each individual person to happen. Each job showed up next to every person instead happened instead.  I do not know if there is a way to access the tasks without specifically finding the member_id from the URL params.  I

[2015-11-18 15:16] dan-ator opened #366 "cancancan"
I am trying to implement cancancan and am stuck.  I understand enough to implement the `<% if can? :create, @report.info_items %>` etc. for create, edit, delete, but defining the actual users is confusing me( and I know this only hides the buttons so I need to implement things in the controllers and User model.  So I put this in my ability model:

[code]

But the first error is that the :admin rol

[2015-11-18 15:18] RobertAKARobin commented on #364
It looks like your vet doesn't have any appointments. To test, I'd recommend going into the Rails console (`rails c`), pulling up that particular vet (`Vet.find(32)`), and then seeing if it has any appointments (`Vet.find(32).appointments`). If it doesn't, your problem is elsewhere.

[2015-11-18 15:20] RobertAKARobin commented on #365
Can you show a screenshot of what it looks like on your page? I'm having trouble visualizing this.

[2015-11-18 15:21] RobertAKARobin commented on #365
Your `@group.members.all` and `@group.members.all` both are correct. You don't actually need `.all` on them -- only when you're doing `Group.all` or similar -- but it shouldn't hurt.

[2015-11-18 15:25] RobertAKARobin commented on #366
`if user.role? :admin` is looking for a `role` column on your Users table. For instance, if you wanted only Users with an age greater than 32 to be able to manage all, then you would write:

[code]

If you wanted to do the same for users with the e-mail of "billgates@ms.com", you would do:

[code]

If you didn't define a `role` column it doesn't exist, in the same way that if you didn't define an

[2015-11-18 15:26] murgia commented on #365
![screen shot 2015-11-18 at 10 25 15 am](https://cloud.githubusercontent.com/assets/14044951/11245049/c3795d3a-8dde-11e5-8e13-19a7645ab79a.png)

[2015-11-18 15:27] RobertAKARobin commented on #366
The first line in the documentation is:

CanCanCan doesn't define roles; it defines permissions. In a lot of apps permissions are grouped together into a different model called Role, but CanCanCan doesn't do that for you.

[2015-11-18 15:33] dan-ator commented on #366
so i added a column called 'roles' to the User table.  But it seems like I need a users_controller.  If I used devise, will adding this mess with functionality built in there?

[2015-11-18 15:35] kaustly commented on #363
Oh, right! Good call. Totally didn't think about closing the server.
Definitely understand separating commands- will do from now.

All that being said, rake db:migrate still gives me this:

[code]

[2015-11-18 15:37] RobertAKARobin commented on #366
Introducing roles is going to add a good amount of complexity to your app, so I would advise against it. Can you tell me in English what you want CanCan to do here?

[2015-11-18 15:38] RobertAKARobin commented on #363
Oh, you know what, it looks like you're using a capital `W` for `Works` in your `CreateDigs` migration. It should be lowercase.

[2015-11-18 15:38] dan-ator commented on #366
I want to make it so that users can only create reports/info_items/comments if they are signed up and logged in(I think this is done by devise) and then I want to make it so that users can only update or destroy reports/info_items/comments that they created.  Also, creating a role of admin for me to have total control sounds like a good idea too.

[2015-11-18 15:42] RobertAKARobin commented on #366
Yes, that first part's done by Devise. For the second part, you _could_ use CanCanCan, but it would be MUCH simpler to just put that logic in your controller, or if you're feeling a bit fancy, to create a [custom validation](https://github.com/ga-dc/curriculum/tree/master/05-mvc-with-rails/error-handling#custom-validations-10-min).

I'd only use CanCanCan if there are LOTS of different permissions

[2015-11-18 15:44] kaustly commented on #363
Okay, yay! I'm no longer getting an error, but should I see the 'create_table "digs"' in my schema file now?

[2015-11-18 15:45] kaustly commented on #363
this is what i got
<img width="1440" alt="screen shot 2015-11-18 at 10 45 15 am" src="https://cloud.githubusercontent.com/assets/13460389/11245582/7b7d8936-8de1-11e5-9b5c-443399b72fe8.png">

[2015-11-18 15:45] dan-ator commented on #366
Well the functionality is all there for users, reports, locations, info_items, and comments.  I just need to add profile for each user.  I am planning on doing all of my css tomorrow for front end design.  But I think it is part of MVP that people can only edit/delete their own posts and comments. I was under the impression that using cancancan makes permissions simpler and centralized.

[2015-11-18 15:47] RobertAKARobin commented on #363
Hm. Yeah, I'd think so. Can you show me the contents of the migration file that should create the digs table?

[2015-11-18 15:50] RobertAKARobin commented on #366
Nah. "User authentication" is part of the MVP, which just means people should be able to log in and log out. See here:

https://github.com/ga-dc/project2#technical-requirements

[2015-11-18 15:57] ghost commented on #364
Okay, think I've got it.

`<%= link_to "#{@pet.name} (#{appointment.appointmenttime})", pet_appointment_path(@pet, appointment) %>`

show action uses @pet.find_by(params[:pet_id])

[2015-11-18 16:04] kaustly commented on #363
<img width="1440" alt="screen shot 2015-11-18 at 11 03 26 am" src="https://cloud.githubusercontent.com/assets/13460389/11246075/1d2e8648-8de4-11e5-8999-ec55260e0146.png">

[2015-11-18 16:14] RobertAKARobin commented on #363
Yeah, that definitely looks like it should make a Digs table. Are you sure it didn't?

[2015-11-18 16:16] jenpen opened #367 "issue with remembering how to access a foreign key rather than passing in params"
I tried looking it up in nesting documentation and have just been passing in different methods, but I can't remember.

I expect to have a link of all my notecards with links to each individual notecard (currently nested within a board)

My repo link is https://github.com/jenpen/daily_scrum/tree/corrected_code_1 and my question is about the notecards_controller (lines 3-7) and the notecards/all vie

[2015-11-18 16:17] MohamedGood opened #368 "issue with _sign up, login, and logout functionality___"
I tried **running devise_**. I expected **the signup button_** to happen.**Nothing_** happened instead.

[2015-11-18 16:17] kaustly commented on #363
Oh, it put it at the top! ... I just needed to scroll up. Hah.

Does sequence matter in the schema file?

My next step in views and controllers, right?

<img width="1440" alt="screen shot 2015-11-18 at 11 17 02 am" src="https://cloud.githubusercontent.com/assets/13460389/11246498/ea4b77a2-8de5-11e5-921c-112b9813b918.png">

[2015-11-18 16:17] ascreven opened #369 "Heroku Migrate Not Working"
rake db:migrate is working and all of my databases in psql look correct but when I run
heroku run rake db:migrate
I get the following error:

[code]

I've gone through all the trouble shooting but I'm getting a little nervous with the solutions because they keep changing my local databases. What should I do?

[2015-11-18 16:17] ajohnson052 opened #370 "issue with form_for"
I tried

[code]

I expected
params[:commit] = [ status: true ]

Instead
params[:commit] = "I'll be there!"

End goal
Make a button that will create or update commits with a single click

My repo link is https://github.com/ajohnson052/escapades and my question is about app/views/escapades/show_event.html.erb line 19-28.

[2015-11-18 16:21] amaseda commented on #367
Might have something to do with Line 5 in your NotecardsController. Looks like you're trying to find a particular board, but instead what you're doing is looking up a notecard in `@notecards` that has the same `id` as `board_id`.

On top of that, doesn't look like just `board_id` will contain any value. You'll have to pull it from the URL with `params[:board_id]`. And remember that with `find_by`

[2015-11-18 16:28] amaseda commented on #368
What do you mean by "running devise" -- installing it? If so, how exactly did you go about doing that?

A checklist for installing Devise is...
1. Including the `devise` gem in your Gemfile
2. Running `rails g devise:install` via Terminal inside of your app directory.

From there, if you run `rake routes` you should see a bunch of new routes that correspond to sign up, sign in, etc.

More informat

[2015-11-18 16:31] RobertAKARobin commented on #369
It looks like your migrations are out of order! Kelly was actually having almost the exact same issue. I'd take a look at my response to her issue:

https://github.com/ga-dc/project2/issues/363#issuecomment-157736224

And don't worry about the database. As long as you're committing and branching and stuff -- and don't have live data on Heroku that you're trying to preserve -- you'll be fine.

[2015-11-18 16:32] CBanks813 opened #371 "Create migration for joining tables"
I'm trying to create a migration for joining my Appointments and Services tables by running:
rails g migration CreateAppointmentsServices

and I get the following error message

[code]

[2015-11-18 16:33] jenpen commented on #367
Thanks Adrian. I don't have a board ID in the URL coming from this all page which just shows a list of all notecards (like a page that lists all songs regardless of Artist in Tunr).

Since I don't have that value to pass into params, what I'm struggling with is how to grab that value to build my link to an individual card - the path to a card looks like (boards/2/notecard/2). I was thinking I coul

[2015-11-18 16:34] RobertAKARobin commented on #370
Hah! First time I've seen this error. The trouble is that `params` actually already gets a field by default that happens to be called `commit`. It's the value of the submit button (as in `<input type="submit" value="This is the value" />`).

You can pass an argument to `form_for` that makes it use a different name for the model -- so you could do `my_commit` or something. Check out this answer: ht

[2015-11-18 16:36] ascreven commented on #369
Thank you Robin. I'll take a look. I really want it to be useable though
and I feel like it won't be if it doesn't save information.

On Wednesday, November 18, 2015, Robert Thomas notifications@github.com
wrote:

[2015-11-18 16:37] MohamedGood commented on #368
I ran the devise commands... I ran my migrations... I dont know what else I need to do to show sign up, login and logout functionality on my welcome page

[2015-11-18 16:37] RobertAKARobin commented on #371
I think the problem here is that it's trying to create a table called `appointments_services`.

Try naming your migration something different -- like `addServicesToAppointments` or something:

[code]

[2015-11-18 16:38] CBanks813 commented on #371
Ok Thanks Robin!

[2015-11-18 16:38] RobertAKARobin commented on #369
This won't have any impact on your ability to save data! It may just delete data that you have in your database right now. Presumably that's only test data, which doesn't matter, or is seed data, which you can generate again with `rake db:seed`.

[2015-11-18 16:40] amaseda commented on #367
Ah, well you should have access to both the notecard and its board in your view. In your view, you can access each notecard via the `notecard` iteration variable in your each statement. On top of that, you can access the board a notecard belongs to using `notecard.board`. I think that should be enough to start building links.

So you wouldn't actually need to define a board in your `all` controlle

[2015-11-18 16:45] ascreven commented on #369
I read through Kelly's error but all that is working on mine. It's just not
working when I'm deploying to Heroku.

On Wednesday, November 18, 2015, Robert Thomas notifications@github.com
wrote:

[2015-11-18 16:47] amaseda commented on #368
The sign up / login / logout links don't automatically show up on your welcome page. You need to create links in your views using the path helpers that `rake routes` provides. If you run `rake routes` in the Terminal you should see a long list of them. Are they showing up for you?

Your "sign up" link will end up looking like the below code. Try creating similar ones for "sign in" and "log out"...

[2015-11-18 16:48] ajohnson052 commented on #370
Haha, that clears up some of the confusion!
But even with new_commit as the new instance variable I'm getting the error:

param is missing or the value is empty: new_commit

and the params:

[code]

[2015-11-18 16:49] RobertAKARobin commented on #370
Can you show me what your `form_for` looks like?

[2015-11-18 16:49] ajohnson052 commented on #370
[code]

[2015-11-18 16:49] #365 closed, assigned to RobertAKARobin

[2015-11-18 16:49] #366 closed, assigned to RobertAKARobin

[2015-11-18 16:50] #364 closed, assigned to RobertAKARobin

[2015-11-18 16:51] RobertAKARobin commented on #363
Oops, sorry for the delay. Nah, don't worry about the schema file. You can look at it, but you should never ever ever touch it!

And yes, sounds like that's your next step!

[2015-11-18 16:51] #363 closed, assigned to RobertAKARobin

[2015-11-18 16:51] MohamedGood commented on #368
Ok thanks that helps a lot...

Now do I have to create a _form.html.erb page for the link to work

[2015-11-18 16:52] RobertAKARobin commented on #369
First, check to make sure it's working locally: run `rake db:drop` and rebuild the database from scratch.

If there are no errors there, then I would delete your current Heroku app (`heroku apps:destroy your-app-name`) and `heroku create your-app-name` it again.

[2015-11-18 16:53] CBanks813 commented on #371
Soooooo I tried that and still got an error message. :( The exact same message.

[2015-11-18 16:53] RobertAKARobin commented on #370
You need to put in the `as:` argument mentioned in that StackOverflow answer.

[2015-11-18 16:54] kaustly opened #372 "unknown attribute error in users controller#signup!"
not sure why username isn't being recognized

<img width="1440" alt="screen shot 2015-11-18 at 11 50 09 am" src="https://cloud.githubusercontent.com/assets/13460389/11247670/13c724aa-8deb-11e5-930e-eb8e894c78cc.png">

[2015-11-18 16:55] #367 closed, assigned to nobody

[2015-11-18 16:57] #371 closed, assigned to RobertAKARobin

[2015-11-18 16:58] RobertAKARobin commented on #372
Hmm. Did you use Devise? If so, it doesn't have a `username` field.

[2015-11-18 17:04] kaustly commented on #372
I did... I'm confused. What does it have and not have?

this is what I have:
<img width="1440" alt="screen shot 2015-11-18 at 12 04 30 pm" src="https://cloud.githubusercontent.com/assets/13460389/11247961/8a04248c-8dec-11e5-9134-c41e3b0dd7d1.png">

[2015-11-18 17:06] RobertAKARobin commented on #372
Take a look at the schema and see what fields it defined for Devise. By default, it only has e-mail and password (and a bunch of other stuff that you don't really use).

[2015-11-18 17:08] ascreven commented on #369
Oh whoops, that was the problem. It's not running locally either. How
should I get it back to my last successful run? My schema.rb file looks
exactly how I want it to right now.

On Wednesday, November 18, 2015, Robert Thomas notifications@github.com
wrote:

[2015-11-18 17:12] kaustly commented on #372
so this is my complete schema file... I don't see anything about devise.
yet it's in my gem file

<img width="1440" alt="screen shot 2015-11-18 at 12 11 43 pm" src="https://cloud.githubusercontent.com/assets/13460389/11248137/8a66f0c0-8ded-11e5-8e19-fa8a22fe5647.png">

[2015-11-18 17:12] RobertAKARobin commented on #369
What error are you getting? If it's the "table does not exist" one, then it's because you just need to switch around the order of some of your migration files.

If you're at GA and want me to take a look in-person, feel free to find me at the table outside the bathrooms.

[2015-11-18 17:13] RobertAKARobin commented on #372
Devise is what created the `users` table for you.

[2015-11-18 17:13] ascreven commented on #369
I'm at home right now but can get there by 2. Will you still be around?

On Wednesday, November 18, 2015, Robert Thomas notifications@github.com
wrote:

[2015-11-18 17:14] RobertAKARobin commented on #369
Nah, if you're at home, not to worry. We can fix it from here. What's the text of the error?

[2015-11-18 17:18] ajohnson052 commented on #370
I'm confused by this because the form needs to be passed two arguments. I have tried

[code]

With all returning the same error

For the above, I defined @commit = Commit.new in the controller (in the method that passes the instance variable to the form), and required :new_commit in the strong params.

When I tried this without the :as argument, I was using @new_commit = Commit.new in the controll

[2015-11-18 17:18] ascreven commented on #369
Thank you Robin! Here is a screenshot of the error I'm getting after
dropping the database

On Wed, Nov 18, 2015 at 12:14 PM, Robert Thomas notifications@github.com
wrote:

[2015-11-18 17:19] ascreven commented on #369
Is there a way to use rake db:schema:load to get the migrations back to how
they should be?

On Wed, Nov 18, 2015 at 12:18 PM, Alexandra Screven akscreven@gmail.com
wrote:

[2015-11-18 17:19] RobertAKARobin commented on #370
Try this:

[code]

[2015-11-18 17:21] ghost opened #373 "form_for issue"
I tried _____.
Implementing a form on vets/show that allows user to create an appoinment.

Fields are pet name, appointment time. (Am also trying to create drop-down of pet names.  That may be another issue once I fix this current issue - where form delivers input.)

I expected _____ to happen.
Want to pass this information to the appointment table to create appointment.

_____ happened instead.
N

[2015-11-18 17:21] RobertAKARobin commented on #369
I'm not seeing the screenshot, Alex.

You shouldn't do `schema:load` -- you should always create your database from the migration files. Otherwise, it's going to cause a lot of integration headaches down the road since other developers/platforms will be expecting `migration` to work.

[2015-11-18 17:22] tylercrosse opened #374 "Trying to get upload to AWS to work"
I was trying to follow the tutorial on adding an image to AWS but I'm getting a weird error and would love some suggestions on how to troubleshoot.

Here is the error
![image](https://cloud.githubusercontent.com/assets/10747860/11248381/db7e06e6-8dee-11e5-9898-f7b837728512.png)

Here's part of my CommitController

[code]

and my commits/index.html.erb

[code]

[2015-11-18 17:23] RobertAKARobin commented on #373
What's the text of the error?

[2015-11-18 17:30] ghost commented on #373
Showing /Users/thom/wdi/projects/vet-scheduler/app/views/vets/show.html.erb where line #32 raised:

undefined method `appointment_path' for #<#Class:0x007ffa428a8678:0x007ffa42e31158>

[2015-11-18 17:36] ascreven commented on #369
Oh that makes sense. Sorry about that, here it is!

On Wed, Nov 18, 2015 at 12:21 PM, Robert Thomas notifications@github.com
wrote:

[2015-11-18 17:37] RobertAKARobin commented on #373
I'm not seeing a `views/vets`, Thom -- just a `views/users` and `views/pets`.

[2015-11-18 17:38] RobertAKARobin commented on #373
Any chance you could just copy and paste the line that has `appointment_path` in it?

[2015-11-18 17:41] tylercrosse commented on #374
<img width="779" alt="screen shot 2015-11-18 at 12 20 31 pm" src="https://cloud.githubusercontent.com/assets/10747860/11248914/b5765f68-8df1-11e5-9c0a-4719d5e4cb9f.png">

[2015-11-18 17:42] RobertAKARobin commented on #374
Alexis had the exact same problem! Check out https://github.com/ga-dc/project2/issues/370 .

[2015-11-18 17:43] RobertAKARobin commented on #368
If you're using Devise, it should have created that form for you. You may not actually see it in your views because it sort-of hides those from you. But just try testing the link in your web browser.

[2015-11-18 17:43] #368 closed, assigned to nobody

[2015-11-18 17:44] RobertAKARobin commented on #372
It's been a little bit, so I'm going to close this. Feel free to open a new one!

[2015-11-18 17:44] #372 closed, assigned to RobertAKARobin

[2015-11-18 17:46] kaustly opened #375 "continued issue - Robin"
Sorry about that.
So, I think I'm confused because I'm trying to go off of multiple lesson plans and screencasts...
After meeting with Adam yesterday, he said I should install devise first, works second, and digs third- which I did. Now I'm kind of lost because we've only installed devise after having other models already set up.

[2015-11-18 17:47] ajohnson052 commented on #370
This seems to be working! But I can't get all the way through the form. I think it's because "status" is set to be a boolean rather than a string. :(

And so I'm stuck with the error

[code]

I feel like I've made this way more difficult than it need be!

[2015-11-18 17:49] kaustly commented on #375
I'm looking to the tunr_rails_deployment repo as a reference. Should I not be doing that?

[2015-11-18 17:50] RobertAKARobin commented on #375
The order doesn't really matter -- you can just run into errors and stuff if you install Devise last. What you have looks really good!

Yep, that's the repo I'd use as a reference.

Are you at GA today? I'm by the bathrooms if you want to sync up.

[2015-11-18 17:53] RobertAKARobin commented on #370
Are you at GA today? If so, I'm at the table outside the bathrooms if you want to meet up.

Otherwise, could you push your code up to Github and post the link so I can take a look?

[2015-11-18 17:53] kaustly commented on #375
I was planning on coming in between 2-3 since my one on one with Adam is at 4, but I would so so appreciate sitting down with someone. My head just feels like scrabbled eggs at this point... but I know I'm not far off!
Would you be available at 3:15?

[2015-11-18 17:54] RobertAKARobin commented on #375
That's progress! I'll just stay here when I'm not meeting with someone, so feel free to come on over.

Can you specify what error you're getting now? Is it the same thing about `username` not being defined?

[2015-11-18 17:55] ascreven commented on #369
Hey Robin, thank you for all your help! I just figured it out by commenting
out sections in different migrations to pinpoint the problem. It's good to
know I shouldn't rely on db:schema:load!

On Wednesday, November 18, 2015, Alexandra Screven akscreven@gmail.com
wrote:

[2015-11-18 17:55] RobertAKARobin commented on #369
Wooo! I'm glad you got it! :)

[2015-11-18 17:55] #369 closed, assigned to RobertAKARobin

[2015-11-18 17:58] kaustly commented on #375
Well, I'm getting this because I deleted my whole users_controller.rb since I figured I didn't do it right

<img width="1440" alt="screen shot 2015-11-18 at 12 57 54 pm" src="https://cloud.githubusercontent.com/assets/13460389/11249310/13785d94-8df4-11e5-9883-c010e6905f5e.png">

[2015-11-18 18:06] RobertAKARobin commented on #375
Well, that's a problem!

Here's what I'd recommend... basically following Adam's suggestion:
1. Breathe.
2. In a whole new folder, `rails new your-app-name -d postgresql`. Just leave your existing repo alone for now.
3. Install Devise. [Here's a link to a walkthrough in the lesson plan.](https://github.com/ga-dc/curriculum/tree/master/05-mvc-with-rails/rails-sessions-and-auth#devise-we-do-codealon

[2015-11-18 18:09] cpgruber opened #376 "issue loading jquery-ui-rails"
I'm trying to use [this gem](https://github.com/kristianmandrup/gmaps-autocomplete-rails) to implement an autocomplete search bar for google maps in my app. I've loaded the gems per the install instructions, but when I edit my `javascripts/application.js` file, I receive an error that looks like this
![screen shot 2015-11-18 at 1 06 43 pm](https://cloud.githubusercontent.com/assets/11283135/112495

[2015-11-18 18:11] RobertAKARobin commented on #376
Did you take a look at this? http://stackoverflow.com/questions/17830313/couldnt-find-file-jquery-ui

[2015-11-18 18:14] kaustly commented on #375
Hah, yes.
Okay.
That will be my _fourth_ attempt at a project 2 repo, but C'est la vie... Will do!
Thanks, Robin! You're always so patient with me. I can't tell you how much I appreciate that.

[2015-11-18 18:15] cpgruber commented on #376
I'm an idiot. Forgot to restart my server. Is there a time travel gem so I can get that hour back?

[2015-11-18 18:15] RobertAKARobin commented on #376
Wooo

[2015-11-18 18:15] #376 closed, assigned to nobody

[2015-11-18 18:16] RobertAKARobin commented on #375
Better to get it now than later!

[2015-11-18 18:18] #374 closed, assigned to RobertAKARobin

[2015-11-18 18:33] solowt opened #377 "migration not being added to schema"
I generated a migration and filled it in.  like this:

[code]

but in my schema, it looks like this, even after I ran rake db:migrate:

[code]

I feel like I've forgotten a step somewhere but I can't think what it is.

[2015-11-18 18:35] ghost commented on #373
It would help if I saved the file when I made my last changes!  But don't understand why views/vets/show.html.erb isn't showing.

I added resources :appointments, now have an appointment_path, and my error is a no method error in the show action for the form.

undefined method `appointment'

 <%= f.text_field :appointment %>

I'm starting to put what seems like too much stuff in 'show'

[code]

[2015-11-18 18:36] andrewsunglaekim commented on #377
did you accidentally run a migration before updating and saving it by chance?

[2015-11-18 18:38] RobertAKARobin commented on #373
Hmm. Can you take a screenshot of the error page? It's `Command` + `Shift` + `3`.

[2015-11-18 18:38] #370 closed, assigned to RobertAKARobin

[2015-11-18 18:39] solowt commented on #377
yeah, it looks like I created the table already somehow.

I deleted it from psql with DROP and removed it from the schema file and then just ran the migration again and it worked.

thanks

[2015-11-18 18:39] #377 closed, assigned to nobody

[2015-11-18 18:43] ghost commented on #373
![screen shot 2015-11-18 at 1 41 38 pm](https://cloud.githubusercontent.com/assets/13954451/11250351/2cb4c92c-8dfa-11e5-972c-c2bc571825d2.png)

I keep working at this to try to solve.  now using form_for [:vet, @appointment]

[2015-11-18 18:57] RobertAKARobin commented on #373
Why are you using `:vet` instead of `@vet` or some such thing?

[2015-11-18 18:58] mcgrodsky opened #378 "Devise/Git"
Was trying to add username to user...ended up breaking my ability to log in!

Trying to revert to previous git commit where devise was working using this command:

git checkout -b devise-working-version f8cdb22b10ac23a1496155bbae1c33c454a42d93

However when it switches me to a new branch it is NOT the old commit! It still has all of the devise views folders (which i want to get rid of) and newer c

[2015-11-18 19:05] codedre opened #379 "Application.yml file not showing up in atom - Heroku deploy fail"
I cannot see my application.yml file in directories in atom but I can see it in terminal. When I deploy to heroku it says my I am missing api keys are these two things related?

[2015-11-18 19:05] codedre commented on #379
the keys are referenced in my app.yml

[2015-11-18 19:07] ghost commented on #373
I started with @vet but then went down the rabbit hole of the rails documentation.  Now using @vet, @appointment and still hung up with the way I'm defining appointment in vets_controller - show

[2015-11-18 19:11] matiamin opened #380 "issue with signup/login and new post"
Adam, we worked on it this morning but running into the following issue.

When I'm on my /entries page, it showing me all the entries. I've a "New Entry" link that should take me to def new in the entries_controller.rb, and then to new.html.erb where I render to the _form.html.erb to create a new entry. But instead, it is directing me to the user show page.

Secondly, on the /entries page, I've lo

[2015-11-18 19:16] solowt opened #381 "using figaro with httparty"
I used figaro with one api without any issues, that api was wrapped in some ruby and I just ran some code in an initializer file.

But without that, I'm unsure how to access the ENV{'key'} or where to place it.

[2015-11-18 19:20] andrewsunglaekim commented on #378
the command you used is the right way to time travel in git, I think you just picked the wrong `sha`. ie that big ass group of letters and numbers

[2015-11-18 19:21] andrewsunglaekim commented on #379
yes, if the keys are working locally, and you're using the figaro gem. Follow these instructions for [deployment with figaro](https://github.com/laserlemon/figaro#deployment)

[2015-11-18 19:23] mcgrodsky commented on #378
@andrewsunglaekim mmk thanks! got it working again

[2015-11-18 19:24] andrewsunglaekim commented on #380
check your `link_to` helper thats directing you to a show page. Make sure the path is `new_entry_path`. If your application routes or redirects somewhere, its because you coded it that way. Trace it back to the link or form that executes that request, and see if the path helpers you've specified are accurate.

Additionally, if you screenshot your error message, and what you did that generates the

[2015-11-18 19:26] tkentor opened #382 "image resize on click"
I'm trying to create a click function where the image increases and the padding decreases on click. The button has id "plus" and the image to resize has id "mindfulness-img". Nothing I try seems to work. Here is my CSS.

[code]

and my javascript

[code]

[2015-11-18 19:26] andrewsunglaekim commented on #381
All the keys/tokens go in the `config/application.yml` file in a format like this

[code]

to access it in your application:

[code]

[2015-11-18 19:29] solowt commented on #381
Oh, I tried to refer to it with curly braces.

Thanks

[2015-11-18 19:29] #381 closed, assigned to nobody

[2015-11-18 19:30] andrewsunglaekim commented on #382
Hmm, this looks right , are you getting any initial errors in the console?

[2015-11-18 19:35] tkentor commented on #382
I thought so too. Nope, nothing in the console. I've been able to get just
the padding or just the width to change, but not both simultaneously.

On Wed, Nov 18, 2015 at 2:30 PM, Andrew Kim notifications@github.com
wrote:

[2015-11-18 19:38] mcgrodsky commented on #378
Alright...Devise is acting really weird. It started working again but now i'm having the exact same issue. I have previous git commits where login was working, but when i'm branching to them its still showing the Devise Views and not letting me log in?

[2015-11-18 19:39] matiamin commented on #380
![screen shot 2015-11-18 at 2 37 54 pm](https://cloud.githubusercontent.com/assets/15004248/11252035/1fc67316-8e02-11e5-8731-e01bdc2e49bb.png)

[2015-11-18 19:40] matiamin commented on #380
This one for example. This is the edit option, this clearly should open the partial form, and should also show the 'Back' link to all the entries. But instead takes me to the user's show page.

[2015-11-18 19:43] RobertAKARobin commented on #373
Part of the problem is that you're attempting to create an appointment whenever someone looks at your show page:

[code]

You either want `.new` or `.build`, but definitely not `.create`.

Replace this line with:

[code]

Also, `params[:appointment_params]` doesn't exist. If you're going for strong params, it will look something like `model.create(model_params)`, not `model.create(params[:model_pa

[2015-11-18 19:44] #375 closed, assigned to RobertAKARobin

[2015-11-18 19:45] RobertAKARobin commented on #378
Remember that if you have un-committed changes, those are carried with you whenever you switch to another branch. Perhaps that's the problem.

[2015-11-18 19:47] mcgrodsky commented on #378
I don't think that's the problem - i've been committing before i switch branches. Doesn't it force you?

What's weird to me is that every time i revert to a previous branch, it is still including my Devise Views files in my atom that i only added this morning (which is think are what is breaking Devise)

[2015-11-18 19:47] rebeccaestes opened #383 "issue with drop-down menu to filter via cities"
I am trying to make a drop-down menu on my main homepage, so you can see only the concerts taking place in a chosen city (or see them all, if you want). It displays correctly, but I can't seem to translate the sort-by example from sessions onto my project. I'm pretty sure I have it set up wrong in the concerts controller. (Well, I know it's set up wrong in the controller right now, but I had to ge

[2015-11-18 19:49] joe-gz commented on #379
Thanks for asking this Andre, and answering it Andy! I was just having this problem and almost submitted a new issue

[2015-11-18 19:50] mcgrodsky commented on #378
@RobertAKARobin going back to a suuuuuper old commit still produces the same Devise error not letting the user log-in. Again, it's odd that this error is being carried between versions. Do you think it's worth it to just start over and copy all my files?

Gah sorry for all the comments! Just going to close this and work through :)

[2015-11-18 19:51] MohamedGood commented on #368
thanks you... I created a _form view page

[2015-11-18 19:53] #378 closed, assigned to nobody

[2015-11-18 19:54] andrewsunglaekim commented on #380
Is the problem you're not hitting this view? or its not generating the right stuff? Can you tell me the error message your getting and what you did that got you that error message?

[2015-11-18 19:54] andrewsunglaekim commented on #382
are you in the building today?

[2015-11-18 19:55] tkentor commented on #382
yeah I am. at the big desks in the back

[2015-11-18 19:57] matiamin commented on #380
It is not giving me error. it's just not doing what it is suppose to be doing, which is to show me the entry form by rendering the partial _form.html.erb. It simply takes me to the User's show page.

Basically, when I click 'Edit' it takes me to this page - see the url.

[2015-11-18 19:57] matiamin commented on #380
![screen shot 2015-11-18 at 2 57 12 pm](https://cloud.githubusercontent.com/assets/15004248/11252545/beab7808-8e04-11e5-98fc-714bd36afa58.png)

[2015-11-18 19:58] matiamin commented on #380
![screen shot 2015-11-18 at 2 57 12 pm](https://cloud.githubusercontent.com/assets/15004248/11252565/d45648a4-8e04-11e5-9a08-225248b9033b.png)

[2015-11-18 19:58] matiamin commented on #380
![screen shot 2015-11-18 at 2 58 14 pm](https://cloud.githubusercontent.com/assets/15004248/11252568/d9af57d2-8e04-11e5-82af-5fd42e7b3a7b.png)

[2015-11-18 20:00] matiamin commented on #380
In the index file, i specify the path for 'Edit' to edit_entry_path(entry).

[code]

[2015-11-18 20:01] tylercrosse opened #384 "Carrierwave / FOG conversion for upload to S3"
I've been trying to follow the tutorial on AWS to upload images. Something weird with fog or carrierwave and googling it hasn't helped much. Submitting an issue incase you've seen this before.

<img width="791" alt="screen shot 2015-11-18 at 1 30 00 pm" src="https://cloud.githubusercontent.com/assets/10747860/11252365/db9f822a-8e03-11e5-9931-e967df89ab42.png">

[2015-11-18 20:04] mattscilipoti commented on #383
Thanks for the helpful info.  I’ll have some suggestions soon.  Have fun in the lesson.

[2015-11-18 20:14] KoryJCampbell opened #385 "No Route Matches "Missing Required ID""
I'm trying to link to my book index.html.erb page but I keep getting this error.

I'm sure it's something simple I missed.

[code]

[code]

[2015-11-18 20:15] KoryJCampbell commented on #385
[code]

[2015-11-18 20:19] mcgrodsky opened #386 "Another Devise Issue :)"
On my local:host my app is working fine, users can log-in and log-out. After i deployed to Heroku, this function is now broken.

I have pushed all local changes to heroku master. Any ideas?

This has been an issue all day (Devise breaking, and restarting the server, going to old branch and restarting server again seems to fix it)

[2015-11-18 20:21] matiamin commented on #380
Robin suggested that it might be because I dont have a logout functionality. I've devise for signup/login. Where should I be looking to incorporate the logout functionality ?

[2015-11-18 20:24] tylercrosse commented on #384
When I hit the submit button it places the file in a directory created by either carrierwave or fog public/uploads/tmp Nothing in my bucket though.

[code]

[2015-11-18 20:25] qadriyyah119 opened #387 "Destroy Error"
I have an option to destroy a recipe on my app and when I hit destroy I get the following error.
I can't figure out what I'm missing.

param is missing or the value is empty: recipe

Extracted source (around line #51):
49
50
51
52
53

  private
    def recipe_params
      params.require(:recipe).permit(:title, :serving, :total_time, :prep_time, :cook_time, :photo_url, :level , :ingredients)
    en

[2015-11-18 20:29] nolds9 commented on #387
Can you show what you have in your  `destroy` action in the `recipes_controller.rb`?

[2015-11-18 20:29] ghost commented on #373
hmm. am i even tackling/defining this correctly?  this is how i'm outlining the process in my bean.

completing the form should build a new appointment by passing vet, pet, appointment time values to appointment, like this

Appointment.create(vet: marty, pet: perdie, appointmenttime: "Monday 3p")

so the vet value is delivered because i'm on the vets/show page; pet name is captured in :name, and a

[2015-11-18 20:31] qadriyyah119 commented on #387
def destroy
    @recipe = Recipe.find(params[:id])
    @recipe.destroy

  redirect_to recipe_path
  end

[2015-11-18 20:31] RobertAKARobin commented on #380
Here's an example:

https://github.com/ga-dc/garnet/blob/master/app/controllers/users_controller.rb#L114

The only really important part is `reset_session`.

[2015-11-18 20:34] andrewsunglaekim commented on #379
Did this work for you guys? can i close this issue?

[2015-11-18 20:34] nolds9 commented on #387
Awesome, so a way we can test whats going on is to see if the recipe you deleted, was removed from the list of all recipes.

[2015-11-18 20:36] qadriyyah119 commented on #387
When I get the error I go back to the recipes page and the recipe I tried to delete is still there.

[2015-11-18 20:36] amaseda commented on #385
Can you include your error?

I think it's because you need to tell `bookshelf_books_path` what your bookshelf is before `@book`.

Also, do you need all those `resources` in `routes.rb`? The nested bookshelves resources block should eliminate the need for the second `resources: bookshelves`.

Let me know if that helps.

[2015-11-18 20:37] nolds9 commented on #387
Interesting, I think it has to do with your redirect. Where are you currently redirecting?

[2015-11-18 20:39] RobertAKARobin commented on #373
`.build` is almost the same thing as `.new` -- it doesn't actually save anything to the database.

Completing the form should create a new appointment, yes. But the `show` route is **not** the route that does stuff when the form completes.

Are you here today? I'd be happy to sit with you for a bit on this one!

[2015-11-18 20:40] RobertAKARobin commented on #384
Sorry for the delay, Tyler. I don't know anything about AWS, and so am pinging the other instructors to see if one of them does.

[2015-11-18 20:41] KoryJCampbell commented on #385
No route matches {:action=>"index", :bookshelf_id=>nil, :controller=>"books"} missing required keys: [:bookshelf_id]

[2015-11-18 20:41] RobertAKARobin commented on #386
How is the function broken? Do you get an error?

[2015-11-18 20:41] KoryJCampbell commented on #385
[code]

[2015-11-18 20:41] schersh opened #388 "issue with calling a method from view with button click"
I have several methods in my app that I would like users to be able to run on the click of a button. I found some info on the "button_to" method, but I'm not sure where I need to store the appropriate method. Many of the things I've read on Stack Overflow talk about making an ajax call - is there another way to do this? Do I need to create a "MyController" class or something similar to house these

[2015-11-18 20:42] adambray commented on #384
@tylercrosse can we see your application.yml? Please **make sure to censor the secret key values!**

[2015-11-18 20:43] mcgrodsky commented on #386
After filling out sign-up form and clicking sign-up the page refreshes and displays this error:

![screen shot 2015-11-18 at 3 42 32 pm](https://cloud.githubusercontent.com/assets/14894858/11253683/0e7c1094-8e0b-11e5-9b86-e427ad741825.png)

[2015-11-18 20:44] adambray commented on #384
Also, can you send `config/initializers/s3.rb`

[2015-11-18 20:44] adambray commented on #384
I suspect you have the wrong `region` value. So if you can share what's in your ruby file and what you see in the AWS web console for the region for your bucket

[2015-11-18 20:45] tkentor commented on #382
so that works now, but I now want when you click the +/- (plus-ind and
minus-ind) next to a given image "#{practice.image}", it changes that image
size.

[code]

%></span></h2>
    <button type="button" id="plus-ind">+</button>

but I can't put rails into my javascript file, so how do I tell it what
#{practice.image} I want changed?

On Wed, Nov 18, 2015 at 2:54 PM, Andrew Kim notifications@github

[2015-11-18 20:45] amaseda commented on #385
Yup, so that error indicates that your app needs to know what the bookshelf is (`:bookshelf_id=>nil`). You need to pass in a value for the current bookshelf into `bookshelf_books_path`.

This section from the nested resources lesson plan has some useful info on this: https://github.com/ga-dc/curriculum/tree/master/05-mvc-with-rails/rails-routes-and-resources#lets-click-on-an-artist

Let me know if

[2015-11-18 20:46] #380 closed, assigned to nobody

[2015-11-18 20:47] adambray commented on #384
PS, if this is the issue I think it is, I encountered the same one in my carrierwave lesson. You can see me struggle with it in the last 5 minutes, and then solve it in the last minute of the [screencast](https://www.youtube.com/watch?v=7QfGvVRhUEs&list=PLyLfZkguidRPxknJm2oBjQ0HE_rxVK22r&index=39)

[2015-11-18 20:50] tylercrosse commented on #384
No worries, thanks Robin & Adam! Sorry for not providing more info in this issue. I wasn't sure where to even start. I'm watching the scrrencast now :+1:

my `application.yml` file

[code]

and the `config/initializers/s3.rb` file

[code]

[2015-11-18 20:51] andrewsunglaekim commented on #388
You could always route functionality in the form of an HTTP requests. Basically if you want some functionality to happen on the click of a link/button, it needs to happen on the server side through an HTTP request.

[2015-11-18 20:52] #379 closed, assigned to nobody

[2015-11-18 20:52] #387 closed, assigned to nobody

[2015-11-18 20:54] matiamin commented on #380
Thanks so much Andy and Robin!! Much appreciated!!

[2015-11-18 20:57] joe-gz opened #389 "Broken pipe error"
Hi, I'm using AWS to load some photos. I had everything working earlier, but i just started getting the below error whenever I try to load in a file:
Broken pipe (Errno::EPIPE)

I looks like it is occurring on the .update method after I submit the photo. Any thoughts?

Thank you!!

[2015-11-18 20:59] #373 closed, assigned to RobertAKARobin

[2015-11-18 21:02] joe-gz commented on #389
if i try to load in a different photo, i get another error:
Excon::Errors::Forbidden in UsersController#update

[2015-11-18 21:04] tylercrosse commented on #384
That's exactly what the problem was. I had changed the Region but I didn't restart my server :grimacing: I'm now at least getting a different error :tada: :smile: !

[2015-11-18 21:04] #384 closed, assigned to nobody

[2015-11-18 21:04] schersh commented on #388
Using the button_to method, I was going to do something similar to what's below - but I'm not sure what path to route to - this is the method which would update the user's temp_id to their apartment_id. It doesn't seem like this belongs in any of the user or apartment views. I think my question is whether or not I need to create a new type of controller?

<%= button_to 'Accept Invitation', _path,

[2015-11-18 21:42] rebeccaestes opened #390 "issue with filtering concerts"
I am still having problems getting my concerts to be filterable by their venues' cities. My params appear to be {"city"=>"Baltimore, MD"} - I'm putting those on the page so I can see them changing as I select different things. I don't know if I should be including that entire string, or just the city though.

In addition, I'm trying to assign @concerts to the concerts in a particular city. I curre

[2015-11-18 21:52] jenpen opened #391 "issue with forms - creating and posting and destroying"
Github: https://github.com/jenpen/daily_scrum/tree/corrected_code_1

My forms were working at one point, and I've tried to retrace my steps to that point to see changed. I've also been looking at StackOverflow based on Google results (http://stackoverflow.com/questions/9690818/rails-tutorial-10-2-6-nomethoderror-in-usersedit). I've checked to make sure the params I want to pass in are corrected. I

[2015-11-18 21:57] RobertAKARobin commented on #386
Sorry for the delay, Mia. This is a dumb question, but just to clarify: it doesn't work even when you've filled something out in the email field?

[2015-11-18 21:58] dan-ator opened #392 "Validations"
I have a profile page and in the form for creating a profile there are four boxes: info, facebook_url, blog_url, and other_url.  I have it set up so that if the url boxes are left blank then there won't appear on the page a link for those, otherwise there is a link connecting to that url.  I want to add a validation so that if someone does enter something into the form for one of the urls, it is a

[2015-11-18 22:02] RobertAKARobin commented on #390
To clarify, are you getting an error with the filtering thing? Or is it just that nothing is happening?

With `Concert.venue.where(city: 'Baltimore, MD')`, are you trying to get all the venues belonging to all the concerts in Baltimore? If so, I would do something like:

[code]

That's not an efficient way of doing it, but it'll certainly work. If you have time and bandwidth to find the more effic

[2015-11-18 22:09] adambray commented on #389
@joe-gz Can you peek at this issue?

The latter error you mentioned sounds like the same one tyler had.

The former issue I believe is related to either:
1. The image is too big
2. transient nextwork issues

[2015-11-18 22:09] joe-gz commented on #389
@adambray Thanks! I actually literally just figured it out, and was about to close this, so I'm all good. Sorry about that!

[2015-11-18 22:13] #382 closed, assigned to nobody

[2015-11-18 22:13] #389 closed, assigned to nobody

[2015-11-18 22:14] dan-ator commented on #392
Update: I tried using in my model the following:

[code]

based on something I found on stack overflow.  This ends up throwing up an undefined method url error.

[2015-11-18 22:19] andrewsunglaekim commented on #388
going to go ahead and close this issue, reopen if you need, but i think we covered most of this issue in the meet. Don't hesitate to reopen though

[2015-11-18 22:19] #388 closed, assigned to nobody

[2015-11-18 22:20] #386 closed, assigned to RobertAKARobin

[2015-11-18 22:21] RobertAKARobin commented on #391
I believe the problem is that in your `edit` action there's no `@board` defined, whereas you reference `@board` in your `form_for`.

[2015-11-18 22:23] RobertAKARobin commented on #392
Unfortunately it looks like there isn't a good answer to this. That kind-of surprises me. I'd recommend giving this a shot:

[code]

[2015-11-18 22:25] jenpen commented on #391
I have it set as a before_action

[code]

[2015-11-18 22:39] alifrumin opened #393 "where.not"
I have this set up to display all the users in the system, I would like it to display only users who are not in the club. Memberships is a join table between user_ids and club_ids.

[code]

I tried User.where.not(@club) but it says it won't accept the @ symbol. It appears one could also do something along these lines User.where("club_id != ? )

[2015-11-18 22:42] ghost opened #394 "issue with git"
I tried _____.
I am having a db issue, and tried deleting and altering a couple of migration files to address the issue.  Doesn't seem to be working, so I'd like to get back to the devil I know.

git revert abcdefg

I expected _____ to happen._____
to roll back to the previous commit.

happened instead.
I'm not quite sure what happened, so I think this is a good stopping place!

My repo link is __

[2015-11-18 22:45] ArmaniH opened #395 "No Method"
I am getting a No Method error on "color" and, yeah, I am lost as to why. I'm trying to use a JS color picker form with simple form.

![screen shot 2015-11-18 at 5 40 53 pm](https://cloud.githubusercontent.com/assets/13981641/11256813/13f85dc8-8e1c-11e5-88ec-27f1f653f36c.png)
![screen shot 2015-11-18 at 5 41 26 pm](https://cloud.githubusercontent.com/assets/13981641/11256818/1eac0a30-8e1c-11e5-80a

[2015-11-18 22:46] RobertAKARobin commented on #393
Try `User.where.not(club: @club)`

[2015-11-18 22:47] RobertAKARobin commented on #394
Can you be more specific about what you mean by "it isn't working"? Are you getting an error?

[2015-11-18 22:48] RobertAKARobin commented on #395
It's because your `responses` table has a `color` column, but your `questions` table does not.

[2015-11-18 22:50] #391 closed, assigned to RobertAKARobin

[2015-11-18 22:52] KoryJCampbell commented on #385
Thanks!

[2015-11-18 22:52] #385 closed, assigned to nobody

[2015-11-18 22:54] ArmaniH commented on #395
For purposes of functionality, would having them both have a color column work? Functionality being users being able to choose a color in response to a question, and having the question and color response be associated with the individual user, PLUS color responses being associated with individual questions?

[2015-11-18 22:54] RobertAKARobin commented on #395
Yep, that'd work!

[2015-11-18 22:56] ArmaniH commented on #395
Awesome! I'll go work on that and hopefully not break something for at least 15 minutes. Thanks!

[2015-11-18 22:57] #395 closed, assigned to RobertAKARobin

[2015-11-18 22:58] RobertAKARobin commented on #383
I'm going to assume this has been resolved. Please re-open if not!

[2015-11-18 22:58] #383 closed, assigned to nobody

[2015-11-18 22:58] RobertAKARobin commented on #390
I'm going to assume this has been resolved. Please re-open if not!

[2015-11-18 22:58] #390 closed, assigned to RobertAKARobin

[2015-11-18 23:02] ghost commented on #394
I'm not getting an error, but I'm unsure whether I'm completing the process.

I git revert c123503234, which opens a .git file in atom with instructions to enter comments.  Uncertain what next step is.  The prompt in terminal seems to be waiting for further action.

Success would mean that the deleted files have reappeared, correct?

[2015-11-18 23:03] RobertAKARobin commented on #394
Same as whenever Atom opens while you're doing something in Git: just save and close the window! If it's asking for some kind of a message, write a commit message.

[2015-11-18 23:03] RobertAKARobin commented on #394
...and yes, that should make the deleted files reappear.

[2015-11-18 23:34] BMahoney08 opened #396 "Post Route"
I am attempting to use a standard form that posts to a nested route but am getting the error:

No route matches [POST] "/schedule/1/shifts".

My form page:

[code]

My routes:

[code]

Thanks, guys!

[2015-11-19 01:14] ArmaniH opened #397 "Submitted responses not displaying"
When I submit form input it doesn't display on any other page.

![screen shot 2015-11-18 at 8 10 32 pm](https://cloud.githubusercontent.com/assets/13981641/11259615/0300248c-8e31-11e5-9361-dab4d6946164.png)
![screen shot 2015-11-18 at 8 11 21 pm](https://cloud.githubusercontent.com/assets/13981641/11259616/0300ef3e-8e31-11e5-87e6-893875bbb89d.png)
![screen shot 2015-11-18 at 8 13 25 pm](https://cl

[2015-11-19 01:18] RobertAKARobin commented on #392
It's been a while, so I'm going to close this. Feel free to re-open!

[2015-11-19 01:18] #392 closed, assigned to RobertAKARobin

[2015-11-19 01:18] RobertAKARobin commented on #393
It's been a while, so I'm going to close this. Feel free to re-open!

[2015-11-19 01:18] #393 closed, assigned to RobertAKARobin

[2015-11-19 01:18] RobertAKARobin commented on #394
It's been a while, so I'm going to close this. Feel free to re-open!

[2015-11-19 01:18] #394 closed, assigned to RobertAKARobin

[2015-11-19 01:19] RobertAKARobin commented on #396
That's because you have `except: [:create]`. That prevents a POST route from existing for `/schedule/:schedule_id/shifts`.

[2015-11-19 01:22] RobertAKARobin commented on #397
Check your server log. If it's working, you should see a `COMMIT` SQL query in there. If you see `ROLLBACK`, that means it's trying to save, but is failing a validation. If you don't see either of those, then it may not be reaching your `update` action at all. To make things easier to spot, I recommend adding `puts "*" * 50` to your `update` action to print an easy-to-see line of asterisks in your

[2015-11-19 01:31] ArmaniH commented on #397
![screen shot 2015-11-18 at 8 30 01 pm](https://cloud.githubusercontent.com/assets/13981641/11259836/4b91b632-8e33-11e5-954a-ebf5ac16a5cb.png)

I see commit

[2015-11-19 01:32] RobertAKARobin commented on #397
You see that `unpermitted parameter: color` line? That means `:color` isn't in your strong params -- the `question_params` at the bottom of your controller.

[2015-11-19 01:37] ArmaniH commented on #397
Color is working! Well, the hex color code is. The question still isn't showing up.

[2015-11-19 01:53] ghost commented on #394
Thanks robin. I'm snarled but will pick up in the morning. Tons of help today. Got my money's worth!

On Wed, Nov 18, 2015 at 5:18 PM -0800, "Robert Thomas" notifications@github.com wrote:

It's been a while, so I'm going to close this. Feel free to re-open!

—
Reply to this email directly or view it on GitHub.

[2015-11-19 02:14] BMahoney08 commented on #396
Hi, Robin, I had actually done that because I thought there might be an error with it be created twice, since I was creating it explicitly in the first line. Turned out it was just a pluralization error in my route. Thank you, though!

[2015-11-19 08:14] #396 closed, assigned to RobertAKARobin

[2015-11-19 13:15] RobertAKARobin commented on #397
When you say "the question", do you mean `@question` isn't showing up at all, or just a particular field inside it isn't showing up?

[2015-11-19 13:23] ArmaniH commented on #397
Whatever Ii input into 'f.text_field :body' isn't showing up.

[2015-11-19 13:24] RobertAKARobin commented on #397
Isn't showing up on the page, or in the database, or both?

[2015-11-19 13:39] clarktsc39 opened #398 "psql problem"
I believe I have a back log of postgresql databases in my system. So many that now when I run my local page, I get this error.

[code]

I've looked a many difference articles and can't find a solution.

[2015-11-19 13:39] RobertAKARobin commented on #398
Is that the full text of the error? Could you take a screenshot of it?

[2015-11-19 13:40] clarktsc39 commented on #398
Additionally, these two errors are at the top of the page

[code]

[2015-11-19 13:40] RobertAKARobin commented on #398
Is your blue elephant running?

[2015-11-19 13:40] clarktsc39 commented on #398
OMG!!! WOW

[2015-11-19 13:40] RobertAKARobin commented on #398
:)

[2015-11-19 13:40] #398 closed, assigned to RobertAKARobin

[2015-11-19 13:41] clarktsc39 commented on #398
I thought I was doomed. Fixed it in one second. Thank you!

[2015-11-19 13:50] ArmaniH commented on #397
I'll double check when I get off the train, but I'm pretty sure it's both.

[2015-11-19 13:57] clarktsc39 opened #399 "Migration Issue"
I'm running db:migrate, and this is showing at the top of my page:

[code]

This error shows in the extracted source menu on the same page:

[code]

As it proposes, I ran bin/rake db:migrate RAILS_ENV=development and got this error in the terminal:

[code]

[2015-11-19 13:59] RobertAKARobin commented on #399
When you get that, I'd recommend dropping, creating, and then migrating.

[2015-11-19 14:01] clarktsc39 commented on #399
I tried bin/rake db:drop and got this:

[code]

I've generated and deleted my app quite a few times. Is there a way to just start over completey clean? I feel like when I remove the file I'm loading my app in there are still things left over (maybe saved in the termainal or somewhere else in my machine).

[2015-11-19 14:03] RobertAKARobin commented on #399
NO! Don't start over completely clean.

[2015-11-19 14:03] RobertAKARobin commented on #399
If you're getting that error, it's almost certainly because you have `rails s` running somewhere, or `psql`.

[2015-11-19 14:05] clarktsc39 commented on #399
ok. Closed the server and now it dropped. I'll go throug the CMS part of DCMS now.

[2015-11-19 14:26] ArmaniH commented on #397
Yup, when run Questions.all in the rails console, the body value for the question id is 'nill'.

[2015-11-19 14:29] RobertAKARobin commented on #397
Try submitting the form, and then take a screenshot of the `Parameters: {"utf8"=>√...` part in your server log, like you included in your screenshot up above. I want to check whether the `body` field is actually being submitted.

[2015-11-19 14:32] ArmaniH commented on #397
Got it.

![screen shot 2015-11-19 at 9 30 33 am](https://cloud.githubusercontent.com/assets/13981641/11273267/4add13fe-8ea0-11e5-87ca-2371b46e1b4d.png)

[2015-11-19 14:33] RobertAKARobin commented on #397
It should start with `Started POST "/questions" for...`

[2015-11-19 14:35] ArmaniH commented on #397
![screen shot 2015-11-19 at 9 34 52 am](https://cloud.githubusercontent.com/assets/13981641/11273352/d4332990-8ea0-11e5-949e-ec44a5e0ced6.png)

[2015-11-19 14:40] RobertAKARobin commented on #397
You have two forms on your page:

![forms](https://cloud.githubusercontent.com/assets/13981641/11259617/03020842-8e31-11e5-889d-8004f930c630.png)

Are you sure you're submitting the right one?

[2015-11-19 14:42] murgia opened #400 "issue with creating an edit page"
I tried create a link to my "Edit Tasks" page using the instance variable @memberships = Membership.find(params[:membership_id]) to identify the membership. I expected the page to link to the edit page for tasks.  An error showing:

[code]

 happened instead.
My repo link is https://github.com/murgia/taskager and my question is about lines 15 and 16 in the tasks_controller.

Thank you

[2015-11-19 14:43] ArmaniH commented on #397
I had one too many ends. Fixed it. Thank you!

[2015-11-19 14:44] RobertAKARobin commented on #397
Woo!

[2015-11-19 14:44] #397 closed, assigned to RobertAKARobin

[2015-11-19 14:44] #399 closed, assigned to RobertAKARobin

[2015-11-19 14:51] RobertAKARobin commented on #400
Are you sure `membership_id` is being passed in the URL? Check your `rake routes`.

[2015-11-19 14:54] JohnWPark opened #402 "Issue with migrating my database from sqlite3 to postgresql"
I tried to host my app on Heroku last night for testing purposes and realized I forgot to create my app with a postgres database and defaulted to sqlite3.  I found some tutorials online on how to fix, including using a gem called 'taps' but I just ended up wasting a lot of time and unable to fix my issues. I even considered punting and starting over from scratch, but figured out how to use access

[2015-11-19 14:58] murgia commented on #400
/memberships/:membership_id/tasks/:id/edit(.:format)

I think I might be onto something.  Since I am already iterating through memberships and we are talking about a specific membership for the task, I removed the @memberships instance variable from the task list iteration and I have gotten a new error so I am going to see if I can trouble shoot that really quick.

[2015-11-19 15:00] murgia commented on #400
got it

[2015-11-19 15:00] murgia commented on #400
Thanks Robin

[2015-11-19 15:00] #400 closed, assigned to RobertAKARobin

[2015-11-19 15:08] RobertAKARobin commented on #402
Hey, John, I'm pretty sure this is an easy fix, just testing it out on my computer first.

[2015-11-19 15:13] RobertAKARobin commented on #402
Alright, got it. Here are the steps:
1. Go into `config/database.yml`. Replace the bits ending with `.sqlite3` with the appropriate database name. It should end up something like this:

[code]
2. In `Gemfile`, replace `gem 'sqlite3'` with `gem 'pg'`.
3. `bundle install`
4. `git push heroku master` and continue as usual.

You should be good!

[2015-11-19 15:26] jordanbrauner opened #403 "Problems getting my project on Heroku"
I'm trying to get my project up on Heroku but I'm receiving a "We're sorry but something went wrong" page. I checked Heroku logs in my terminal and this pops gets logged when I try to access the site:

2015-11-19T15:22:54.246236+00:00 heroku[router]: at=info method=GET path="/favicon.ico" host=the-food-life.herokuapp.com request_id=abdfa5b3-5f74-496f-8c2b-3cba21bcb8b9 fwd="173.69.171.55" dyno=web.

[2015-11-19 15:28] RobertAKARobin commented on #403
The favicon.ico thing isn't an issue -- it's just an annoying thing that clogs up your server log. I'm going to try this on my own compy.

[2015-11-19 15:29] ghost opened #404 "issue with devise setup"
I tried _____.
adding authenticate_user! to vets_controller index action, which works fine.  but of course possible to get around it by entering urls manually (/vets/2, for example).

so I'm trying to configure before_action in vets_controller to require login before any actions can be taken:
before_action :set_vets, only: [:index, :new, :show, :create, :edit, :update, :destroy]
  before_action :a

[2015-11-19 15:37] jordanbrauner commented on #403
I'm going to close this as I now see the problems. I just realized I was looking at the wrong log because I forgot to include Rails 12 Factor. There appears to be numerous bugs that need to be fixed in order to get the site working with an empty database. Sorry to waste your time.

[2015-11-19 15:37] #403 closed, assigned to RobertAKARobin

[2015-11-19 15:48] clarktsc39 opened #405 "routing error"
I manually created a new folder within the views folder called 'Welcome', and welcome has an index.html.erb file with html that I'd like users to see when they go to the root. But I keep getting this Routing Error:

[code]

This is what my routes.rb looks like:

[code]

[2015-11-19 15:51] clarktsc39 commented on #405
I know this should be a simple fix, but I've tried several different things -- no avail.

[2015-11-19 15:56] amaseda commented on #405
Try using something similar to the example that comes with the `routes.rb` comments: `bars#index`.

Also make sure you only have one active `root` statement.

[2015-11-19 15:56] nolds9 commented on #405
If you created a view for welcome#index, you are also going to need to create a `welcome_controller.rb` with an index action.  Additionally I think you are going to want to remove the `root :to => redirect('/bars')` line in your `routes.rb`, and replace with a root that maps to your welcome controller's index action

[2015-11-19 15:59] RobertAKARobin commented on #403
Don't crap on yourself, man!

[2015-11-19 15:59] kaustly opened #406 "issue with seeds"
For some reason my seeds are iterating 3 times and then displaying all their information. I'm sure the issue is right under my nose, but I've spent too much time on this issue.

here is a screenshot of my localhost3000/works
<img width="1440" alt="screen shot 2015-11-19 at 10 57 11 am" src="https://cloud.githubusercontent.com/assets/13460389/11275593/4e93bcd0-8eac-11e5-9c9c-8ce6d143e5c9.png">

her

[2015-11-19 16:06] ghost opened #407 "passing param to controller action"
I tried _____.
Isn't this form capturing the pet name and id in :pet_id?

[code]

And passing to

[code]

with

[code]

I expected _____ to happen.
This should render the appointment created on vets/show.

_____ happened instead.
Appointment is rendered, but pet name is always that with id 1.  Appointment time is rendered correctly.

My repo link is ___
https://github.com/thomhouseholder/project2-

[2015-11-19 17:08] RobertAKARobin commented on #404
`set_vets` needs to be explicitly defined somewhere in your controller; something like:

[code]

[2015-11-19 17:09] #402 closed, assigned to RobertAKARobin

[2015-11-19 17:23] ghost commented on #404
So adding that definition returns a record not found error in the index, whereas (fancy word!) creating the def but not defining it renders the signup/login page.

It appears that defining set_vets will have a ripple effect in terms of needing to update other actions.  Is this true, and preferable to leaving set_vets undefined?

[2015-11-19 17:26] andrewsunglaekim commented on #406
Every time you run your seeds file, its not deleting the thigns that already exists. So it just created everything on top of what's already there. I would put the following lines of code at the top:

[code]

[2015-11-19 17:29] #405 closed, assigned to nobody

[2015-11-19 17:30] RobertAKARobin commented on #404
If it's going to cause a problem, I would just not have `set_vets` anywhere. I don't see it in your code on GitHub... is that code current?

[2015-11-19 17:34] kaustly commented on #406
Thanks Andy! Also, If one of my attributes of my works is a boolean value, how would I represent that in my seeds? I'm trying to make public and private works

[2015-11-19 17:34] ghost commented on #404
Think I'll leave it out, then.

I forgot to push the devise branch I'm working in on this part.  Just pushed it.

[2015-11-19 17:35] kaustly commented on #406
It's still showing all the info though:

<img width="1440" alt="screen shot 2015-11-19 at 12 34 36 pm" src="https://cloud.githubusercontent.com/assets/13460389/11278626/f26eeed0-8eb9-11e5-9d23-ed786f382ba5.png">

[2015-11-19 17:36] RobertAKARobin commented on #407
Can you take a look in your server log for where this information is being posted? Something like `Parameters: {"utf8"=>"√"...`

[2015-11-19 17:40] dan-ator opened #408 "Validations"

[2015-11-19 17:40] #408 closed, assigned to nobody

[2015-11-19 17:41] andrewsunglaekim commented on #406
probably something like this:

[code]

[2015-11-19 17:42] kaustly commented on #406
thank you! ... aaannd about my seed code showing in the browser?

[2015-11-19 17:44] dan-ator opened #409 "Repeating code, partials"
I have a show page  for Report.  Within that there is a partial for creating and displaying info items and within that a partial for displaying comments for each info item.  I am not sure what happened but now when I create an info item it is creating multiples of them.  For instance, if there are already three info items, now creating one creates 4 of that one and adds another of each info item a

[2015-11-19 17:46] ghost commented on #407
Think this is it

[code]

[2015-11-19 17:59] andrewsunglaekim commented on #406
I don't think its your seed file, but I think it is information in your database generated from a seed file. Can you see in if you have `<%= %>` or `<% %>` when you're using the each method in that view?

[2015-11-19 18:00] andrewsunglaekim commented on #406
Looks like you probably have an equals sign where you shouldn't

[2015-11-19 18:01] kaustly commented on #406
would that be in my show.html.erb?

[2015-11-19 18:07] RobertAKARobin commented on #407
You want one that starts with `Started POST...`

[2015-11-19 18:08] JohnWPark commented on #402
Thanks, Robin!

On Thu, Nov 19, 2015, 12:09 PM Robert Thomas notifications@github.com
wrote:

[2015-11-19 18:12] ghost commented on #407
Oh, of course I do.

[code]

[2015-11-19 18:13] kaustly commented on #406
AH! found it jesus christ
it was in my index
thank you!

[2015-11-19 18:13] ArmaniH opened #410 "Showing my database table"
I've seeded my DB as well as submitted some sample data through the forms I created and when I check the rails console with a Question.all, I can see that the data is being saved in the DB, but I it isn't displaying on my index.html.erb.
![screen shot 2015-11-19 at 1 11 29 pm](https://cloud.githubusercontent.com/assets/13981641/11279546/452d1d72-8ebf-11e5-97b3-bb134fd296a4.png)
![screen shot 2015-

[2015-11-19 18:14] RobertAKARobin commented on #407
Well, there's a pet ID in there, so that's good, and it seems to be going into the database. It looks like it's creating NEW appointments, instead of updating existing ones. Is that what you wanted?

[2015-11-19 18:18] amaseda commented on #410
Can you include a screenshot of the view rendered in the browser?

Might be because you're placing a `<div>` directly inside a `<table>`. You can, however, put a `<div>` inside `<td>` and `<th>`.

Does changing that fix anything?

[2015-11-19 18:26] ghost commented on #407
No, should create new appointments with the chosen pet and time slot

[2015-11-19 18:30] ArmaniH commented on #410
I tried moving the `<div>` and taking it out completely, to no avail.
[screen shot 2015-11-19 at 1 28 53 pm](https://cloud.githubusercontent.com/assets/13981641/11279970/8af712ac-8ec1-11e5-8265-b5f5ca620730.png)

[2015-11-19 18:45] dttruong opened #411 "Migrating after Devise"
After I install devise, the next step for me was to migrate.  I put in "rake db:migrate" and I am getting errors in my command line.  I looked through my code but cannot figure out what is wrong.

[2015-11-19 18:52] nolds9 commented on #411
Did you run `rails g devise User` after the devise install. That is the command that generates the migration files.

[2015-11-19 18:53] dttruong commented on #411
I did!
gem 'devise'
bundle install
rails generate devise:install
rails generate devise user

I get the migration table, and then I try to rake db:migrate but its giving out errors

[2015-11-19 18:54] ebirving commented on #411
Can you take a screenshot of the errors?

[2015-11-19 18:58] dttruong commented on #411
![screen shot 2015-11-19 at 1 57 21 pm](https://cloud.githubusercontent.com/assets/14103826/11280779/891fa288-8ec5-11e5-88c4-895bee3ee814.png)

[2015-11-19 19:03] amaseda commented on #410
How about closing that last `</td>` in your 2nd `<tr>?

What does your corresponding `index` controller action look like? Have you run `binding.pry` in there to make sure that `@questions` equals what it should?

[2015-11-19 19:05] andrewsunglaekim commented on #406
Great! Going to close this issue now!

[2015-11-19 19:05] #406 closed, assigned to nobody

[2015-11-19 19:06] andrewsunglaekim commented on #411
make sure you're loading the migrations in the right order. Sounds like you're creating a foreign key on a different table that requires users to already exist. Delete that column from that migration, add another migration that adds the column. Then drop your database and remigrate.

[2015-11-19 19:08] andrewsunglaekim commented on #411
Alternatively you could change the timestamp for the migration for the devise to earlier than the other migration. Drop the database and rerun migrations

[2015-11-19 19:13] andrewsunglaekim commented on #409
what does `<%= render @report.info_items %>` do?

[2015-11-19 19:13] dan-ator commented on #409
Makes rails look at my info items partial.

[2015-11-19 19:14] andrewsunglaekim commented on #409
what does the instance method `info_items` do for the report model?

[2015-11-19 19:15] dan-ator commented on #409
what do you mean?

[2015-11-19 19:15] tkentor opened #412 "heroku"
I get this error message on the seemingly last step up pushing to heroku:

[remote rejected] master -> master (pre-receive hook declined)

[2015-11-19 19:15] andrewsunglaekim commented on #409
are `info_items` a resource in your application. ie is it a model?

[2015-11-19 19:16] tkentor opened #413 "user data doesn't clear after signing out"
When a user sign out, their additions to the database stay on the homepage.

[2015-11-19 19:16] dan-ator commented on #409
Oh.  `info-items` is a model that is nested within Report.

[2015-11-19 19:17] andrewsunglaekim commented on #409
What is your partial files called? can you link your repo?

[2015-11-19 19:19] dan-ator commented on #409
partial for info item is `_info_item.html.erb` and comments one is `_comment.html.erb`

[2015-11-19 19:22] andrewsunglaekim commented on #409
Because you're looping in your partial, it's repeating way more than it needs to. When you render the partial for info item, it renders that partial for each of the info items. So essentially you loops through all the info items, for each info item.

[2015-11-19 19:22] ArmaniH commented on #410
SIlly me on the `</td>`. Closed it, but to no avail.

![screen shot 2015-11-19 at 2 12 56 pm](https://cloud.githubusercontent.com/assets/13981641/11281221/ad8cf6e6-8ec7-11e5-802c-6455b0462e00.png)

[2015-11-19 19:23] andrewsunglaekim commented on #409
So basically, when i call `<%= render @report.info_items %>`

Its really saying:

[code]

[2015-11-19 19:24] andrewsunglaekim commented on #409
I think that may or may not be the heart of the problem why multiple ones are being created

[2015-11-19 19:25] dan-ator commented on #409
well, i undid the partial and put the code back in the Report show page and now it works normally.  I am trying to wrap my head around what you are saying, but I still don't really understand.

[2015-11-19 19:26] dan-ator commented on #409
do you mean just because the naming of my partial render?

[2015-11-19 19:27] dttruong commented on #411
Got it!  Thanks Andy!

[2015-11-19 19:28] MarkhamShofner opened #414 "Heroku Migration Issue"
When attempting to run migrations on Heroku (using - heroku run rake db:migrate), I'm getting an error that (bash: rake: command not found).

[2015-11-19 19:31] #411 closed, assigned to nobody

[2015-11-19 19:33] #414 closed, assigned to nobody

[2015-11-19 19:37] #409 closed, assigned to nobody

[2015-11-19 19:37] roshanad opened #415 "Rails s not running"
Please help!

[2015-11-19 19:39] RobertAKARobin commented on #404
Sorry, Thom, I've been busy with meetings. How's this going?

[2015-11-19 19:39] andrewsunglaekim commented on #415
We need a bit more information. What error did you get when you ran rails s? Did you change anything from when it was working to now?

[2015-11-19 19:40] RobertAKARobin commented on #407
It seems to be successfully doing so. Could you go into `rails c` and check out `Appointment.last` to see if it's what you expect.

[2015-11-19 19:40] andrewsunglaekim commented on #412
Could you provide some more information or context? Is that the only thing you see when you push to heroku error wise?

[2015-11-19 19:40] ghost commented on #404
Think this one is done. Forgot to close it

On Thu, Nov 19, 2015 at 11:39 AM -0800, "Robert Thomas" notifications@github.com wrote:

Sorry, Thom, I've been busy with meetings. How's this going?

—
Reply to this email directly or view it on GitHub.

[2015-11-19 19:41] andrewsunglaekim commented on #413
What kind of additions are you referring to, are you getting any sort of error?

[2015-11-19 19:41] roshanad commented on #415
Fixed it! Thanks!

[2015-11-19 19:41] #415 closed, assigned to nobody

[2015-11-19 19:43] mattscilipoti commented on #415
config/database.yml wasn’t formatted correctly.  (She was sitting next to me, while I was supporting another issue).

[2015-11-19 19:43] tkentor commented on #412
Not sure what other context to provide... I did $ heroku create app-name
and then $ git push heroku master. I have the rails_12factor gem installed.
Everything seems to go fine, objects load 100%, bunch of remotes are
installed, and then it doesn't finish and this error displays:

To https://git.heroku.com/ful-mindfulness-app.git

 ! [remote rejected] master -> master (pre-receive hook declined)

[2015-11-19 19:44] starrchen opened #416 "Multiple associations with user"
I wanted 2 different features that seem to conflict in the models:

1) Users can favorite recipes

[code]

When I had that feature working, I was unable to create recipes associated with a user.

2) Recipes are each associated with a user

[code]

---

I seem to only be able to have one feature or the other, but not both. I am assuming this is because I can't have:

[code]

Is there a way I can ha

[2015-11-19 19:44] samir-acle opened #417 "Sort Join_Table by attribute in other table"
I have a join_table which has foreign_id columns for drug_id, which references a drugs table.  I want to sort the join_table by drug.name, but have been unable to find information online on how to do it.

[2015-11-19 19:48] rebeccaestes opened #418 "issue with installing rails on different laptop"
I had a traumatic experience with my laptop and a cup of coffee this morning (:sob:) so I have to use my old laptop to finish up the project. I'm getting an "extconf failed, exit code 1" error whenever I try to install rails, and can't open the server. Please help??

[2015-11-19 19:49] ghost commented on #407
It's passing the correct pet_id into the new appointments, but keeps using pet name for id 1.

[2015-11-19 19:51] #404 closed, assigned to RobertAKARobin

[2015-11-19 19:51] RobertAKARobin commented on #407
I'm confused what you mean by "using pet name for id 1". Can you show me a screenshot?

[2015-11-19 19:52] RobertAKARobin commented on #418
Oh no! Have you run Installfest on that computer? https://github.com/ga-dc/installfest

[2015-11-19 19:52] RobertAKARobin commented on #418
...and thank goodness for Git!

[2015-11-19 19:54] ghost commented on #407
Sorry - Boa is the name of Pet.find_by(id: 1).  He always renders in my list.
![screen shot 2015-11-19 at 2 54 07 pm](https://cloud.githubusercontent.com/assets/13954451/11282463/7d36edf2-8ecd-11e5-8132-d85064c8ba8d.png)

[2015-11-19 19:59] RobertAKARobin commented on #416
Try this:

[code]

The name doesn't matter -- you could do `:users_by_whom_it_was_favorited` or `:wombat` or whatever instead of `:favorite_users`.

[2015-11-19 20:01] jordanbrauner opened #419 "Jordan Brauner - Project 2 Presentation Video"
https://youtu.be/f1Cn3tYDmaY

https://github.com/jordanbrauner/project-2

[2015-11-19 20:03] RobertAKARobin commented on #410
Are you sure `session[:sort_by]` is what you want it to be? Try putting a `puts sesson[:sort_by]` the line after `authenticate_user!`.

[2015-11-19 20:03] alifrumin commented on #393
I appreciate your dedication to the github issues concept

[2015-11-19 20:03] RobertAKARobin commented on #412
I believe Andy's working on this, so I'm going to close it.

[2015-11-19 20:03] #412 closed, assigned to nobody

[2015-11-19 20:03] RobertAKARobin commented on #413
I believe Andy's working on this, so I'm going to close it.

[2015-11-19 20:03] #413 closed, assigned to nobody

[2015-11-19 20:04] RobertAKARobin commented on #417
I believe Matt's working with you on this so I'm going to close it. If not, feel free to re-open!

[2015-11-19 20:04] #417 closed, assigned to nobody

[2015-11-19 20:06] rebeccaestes commented on #418
I'm getting some errors trying to install homebrew - the brew doctor code
doesn't work. I'm upgrading to XCode 7, but I have several ""config"
scripts exist outside your system or Homebrew directories' -type messages
coming up too.

On Thu, Nov 19, 2015 at 2:52 PM, Robert Thomas notifications@github.com
wrote:

[2015-11-19 20:12] RobertAKARobin commented on #418
That's no problem. Go into `installfest.yml` and remove the `homebrew` line. Then, run `rake installfest:start` again.

[2015-11-19 20:17] RobertAKARobin commented on #407
I found it! It's because you're calling:

[code]

Change that to:

[code]

[2015-11-19 20:17] rebeccaestes commented on #418
Andy is getting me a loaner laptop, so I should be OK for now. I'll try
again this weekend while my regular laptop is being fixed.

On Thu, Nov 19, 2015 at 3:12 PM, Robert Thomas notifications@github.com
wrote:

[2015-11-19 20:17] ArmaniH commented on #410
I got nothing :-\

[2015-11-19 20:17] RobertAKARobin commented on #419
Awww, snap!

[2015-11-19 20:18] #419 closed, assigned to nobody

[2015-11-19 20:18] RobertAKARobin commented on #418
:+1:

[2015-11-19 20:18] #418 closed, assigned to RobertAKARobin

[2015-11-19 20:18] RobertAKARobin commented on #410
Can you be more specific? What does it `puts` out?

[2015-11-19 20:19] ghost commented on #407
there it is professor.  that did the trick!

[2015-11-19 20:19] #407 closed, assigned to RobertAKARobin

[2015-11-19 20:20] dan-ator opened #420 "Displaying User Email in Index View"
I have an index of profiles.  For the show page for each, I am able to display the email associated with is through the user.  But I can't get it to show on the index.  The best I can get is the user_id.  In my models, a Profile belongs_to User and User has_one profile.  in my Schema, the profiles table has user_id as a foreign key.  In my show page I have `<%= @profile.user.email %>` and it shows

[2015-11-19 20:21] ArmaniH commented on #410
Sorry!

Nothing in the console, nothing on the page.

[2015-11-19 20:22] RobertAKARobin commented on #410
Well, there's your problem: you're trying to sort by something that doesn't exist. Where are you setting the value of `session[:sort_by]`?

[2015-11-19 20:26] dan-ator commented on #420
When I try `profile.user.email`, the error states undefined method for nil:nilclass, and I suppose that is because there are not any profiles yet when that is being done.  But now there are profiles and those profiles do reflect user_id information, so I don't get why it can't also display the email, which is a column in the users table.

[2015-11-19 20:27] RobertAKARobin commented on #420
Are you sure the profiles are actually associated with users? I'd recommend using `rails c` to investigate all your profiles and make sure each one has a `user_id`. If any of them don't, it will throw an error.

[2015-11-19 20:30] dan-ator commented on #420
A few of them did not, so I deleted all of them and now I get the same error, using `profile.user.email` in the index view.  The error is "undefined method `email' for nil:NilClass".

[2015-11-19 20:30] CBanks813 opened #421 "current_user doesn't save appointment"
So, I'm trying to save the users appointments that they have scheduled but I'm having trouble with the create controller.

[code]

[2015-11-19 20:35] dan-ator commented on #420
Actually, I tried deleting them all but for some reason when none show up on my site, one does show up in the console when I hit Profile.all.  And it has user_id of nil.

[2015-11-19 20:36] ArmaniH commented on #410
![screen shot 2015-11-19 at 3 35 58 pm](https://cloud.githubusercontent.com/assets/13981641/11283554/4e1750e2-8ed3-11e5-9923-e9924a8d7488.png)

[2015-11-19 20:37] RobertAKARobin commented on #420
Maybe you did `Profile.new` or something, which would cause one to show up in Profile.all.

In fact, that may be the problem here. Do you have a `Profile.new` or `Profile.build` anywhere on this page?

[2015-11-19 20:37] ghost opened #422 "redirecting to new path after sign up"
I'm having trouble forcing devise to go to a new route after someone signs up on the site.  I read online that you have to make a new controller and point to it then it should work.

I made the controller:

[code]

and I changed "register" to "registrations" on the route

[code]

[2015-11-19 20:37] RobertAKARobin commented on #421
Can you specify the trouble you're having? Are you getting an error?

[2015-11-19 20:38] RobertAKARobin commented on #422
What kind of trouble are you having? Are you getting an error?

[2015-11-19 20:38] dan-ator commented on #420
I do in the controller for the def new route.

[2015-11-19 20:39] dan-ator commented on #420
Ok, problem seems to be solved, after I went in the console and deleted every profile.

[2015-11-19 20:39] ghost commented on #422
it will automatically redirect to the root

[2015-11-19 20:40] #420 closed, assigned to RobertAKARobin

[2015-11-19 20:43] RobertAKARobin commented on #410
Can you push your code to Github? I'd like to take a look.

[2015-11-19 20:43] ghost commented on #422
the website says to modify it to

[code]

but devise_for uses path_names so I tried playing around with that and adding the controller, but it gives an error.

This is the site i was looking at for reference https://github.com/plataformatec/devise/wiki/How-To:-Redirect-to-a-specific-page-on-successful-sign-up-(registration)

[2015-11-19 20:45] RobertAKARobin commented on #422
Try combining them:

[code]

[2015-11-19 20:47] ghost commented on #422
er mer gerd thanks it worked.

[2015-11-19 20:48] #422 closed, assigned to RobertAKARobin

[2015-11-19 20:48] ArmaniH commented on #410
With pleasure!

https://github.com/ArmaniH/project-2

[2015-11-19 20:59] #416 closed, assigned to RobertAKARobin

[2015-11-19 21:04] KoryJCampbell opened #423 "Nested Routes Issues"
I'm attempting to only show a the selected user's books in a bookshelf. Instead of showing only the selected user's book, it shows ALL the users books.

[code]

[2015-11-19 21:05] KoryJCampbell commented on #423
[code]

[2015-11-19 21:05] KoryJCampbell commented on #423
[code]

[2015-11-19 21:21] mattscilipoti commented on #423
It sounds like you want to limit the books to the selected user’s books.  I see you have a variable that holds that user. Is there a way to ask for that user’s books in code, rather than all the books in the database?  Personally, I would love to have something simply, like `user.books` to return that user’s books.  Can we do that in Rails?

[2015-11-19 21:23] matiamin opened #424 "categories for posts belonging to a user"
I've a category model and a post model. Posts belong to categories - and user has many posts. On the index page for post I can sort posts by category, but I can figure out a way to sort posts based on based on category  that belong to the user on his profile page.

This is what I have in the posts_controller-rb

[code]

This works, do I need to do something similar in the user controller?

[2015-11-19 21:24] matiamin commented on #424
- I can't figure out ....

[2015-11-19 21:26] RobertAKARobin commented on #424
I'm not sure what you mean by "sort posts based on based on category that belong to the user on his profile page". Could you give an example or maybe phrase it a different way?

[2015-11-19 21:29] RobertAKARobin commented on #410
I'm finding a different problem, which is that you seem to have done `rails new project2`, instead of `rails new project2 -d postgresql`. Take a look at my response to this issue for instructions on how to fix it:

https://github.com/ga-dc/project2/issues/402

Once that's done, try dropping, creating, migrating, and seeding your database again. I think you'll run into a migration issue which needs

[2015-11-19 22:00] tylercrosse opened #425 "My comments pull request for John Park"
https://github.com/JohnWPark/paws/pull/1

[2015-11-19 22:01] alifrumin opened #426 "Alice's code review for Samir"
https://github.com/sammehta88/VetPetMeds/pull/1

[2015-11-19 22:02] #426 closed, assigned to nobody

[2015-11-19 22:03] CBanks813 opened #427 "Chrystal's PR for Andre S."
https://github.com/codedre/project-2/pull/1

[2015-11-19 22:04] tomiteo opened #428 "Tim G's pull for Davis G"
https://github.com/Mahartney/FlashCardsPlus/pull/1

[2015-11-19 22:11] ghost opened #429 "help with users connecting to unique profile"
I created a user route but devise also pregenerated all of that.  I'm not sure how to connect users to my profiles because of this.  If any instructor is staying for a little bit can someone sit down and help guide me a little.

[2015-11-19 22:19] #425 closed, assigned to nobody

[2015-11-19 22:19] #427 closed, assigned to nobody

[2015-11-19 22:19] #428 closed, assigned to nobody

[2015-11-19 22:23] matiamin commented on #424
Thanks, Robin. I was able to filter/limit (not sort :) my posts by categories both in the posts index view page and in the user profile show page.

Thanks again!

[2015-11-19 22:23] #424 closed, assigned to RobertAKARobin

[2015-11-19 22:39] kaustly opened #431 "trying to run 'heroku run rake db:seed'"
I'm not quite sure how to go about fixing this error and I don't want to do any damage by trying different things...

<img width="1286" alt="screen shot 2015-11-19 at 5 36 39 pm" src="https://cloud.githubusercontent.com/assets/13460389/11286682/5dd2143e-8ee4-11e5-80be-2aedfc6ffb2c.png">

[2015-11-19 22:51] ArmaniH commented on #410
I took care of switching to postgresql this afternoon when and have reset my db and reseeded. `rails c` is showing my db has been seeded. Sorting still isn't working, but everything else seem to be working save for sorting. I'm going to try to deploy.

[2015-11-19 23:39] starrchen opened #432 "Deployed app doesn't match local one?"
I have a conditional method that is working on my local app where the user is only able see buttons that allow them to edit a recipe if they created the recipe. Otherwise, if they are a different user or are not logged in, it displayed the user who created the recipe.

However, my deployed app shows the edit recipe buttons without a user being logged on.

(In fact, my deployed app doesn't seem to

[2015-11-19 23:41] starrchen commented on #432
Reset a few things and now seems to be working, will confirm.

[2015-11-19 23:43] starrchen commented on #432
Just kidding, the first issue seems to be resolved now as far as users who aren't logged in being able to edit recipes, but I still can't add new recipes. Going to try `heroku config:set RAILS_ENV=development` to see if I can work through this but would appreciate any insights as far as why the deployed app behaves so differently from my local one?

[2015-11-19 23:44] #432 closed, assigned to nobody

[2015-11-19 23:44] starrchen commented on #432
JUST KIDDING AGAIN Heroku is taking much longer to be working but I think I'm just going to try walking away from it for a bit and then seeing that everything is behaving properly.

[2015-11-20 02:05] #431 closed, assigned to nobody

[2015-11-20 02:36] onesick opened #433 "2 issues related to using jQuery and nested forms."
1. When I refresh the page, it works as intended. So I am guessing something is not being pass right/included when the page loads.
2. Because I have nested forms, the id of DOM becomes something like this: customer_jobs_attributes_0_purchase_date
   So I cannot use javascript on this.
3. It looks like the data created are not sent to server and the database... so the data does not load up.

The co

[2015-11-20 03:34] #410 closed, assigned to nobody

[2015-11-20 03:34] #421 closed, assigned to RobertAKARobin

[2015-11-20 03:34] #423 closed, assigned to nobody

[2015-11-20 03:51] dan-ator opened #434 "Daniel Alexander App Screencast"
https://youtu.be/XwXj5B-cLko

[2015-11-20 03:52] rebeccaestes opened #435 "Rebecca Estes Track12 screencast"
https://youtu.be/Tl4IHAWDveo

[2015-11-20 04:03] ghost opened #436 "Alea youtube video"
https://youtu.be/ATPRXITxcDA

[2015-11-20 04:03] ghost commented on #429
finished my video so this is no longer relevant

[2015-11-20 04:03] #429 closed, assigned to nobody

[2015-11-20 04:25] elisekain opened #437 "Kain: Lyrick (Project #2)"
Lyrick GitHub Repo: https://github.com/elisekain/lyricks

Lyrick Deployed on Heroku: https://lyricks.herokuapp.com/

Lyrick Screencast on Vimeo: https://vimeo.com/146351674

[2015-11-20 05:02] starrchen opened #438 "Starr: Gobblr"
Repo: https://github.com/starrchen/gobblr
Deployed app: http://gobble-gobblr.herokuapp.com/
Demo video: https://vimeo.com/sipofstarrshine/gobblr (_uploading at time of issue submission_)

I had a lot of fun making this, and having a full project week really helped! (Less pressed for time than I was during project 1.)

[2015-11-20 05:30] ddayporter opened #439 "issue with background images on heroku"
I deployed this morning but put off looking into my background images issue.. I'm getting this error in the heroku logs:

[code]

..the path it's showing is where the file is located.
my scss is set up like this:

[code]

I tried just url() first but that didn't work. I tried changing the config to

[code]

and then ran rake assets:precompile but that didn't work either. I removed the public direc

[2015-11-20 06:06] solowt opened #440 "ThomasS video"
https://github.com/solowt/youreview (heroku link in there)
https://youtu.be/EyrqdqShnYI

[2015-11-20 07:48] samir-acle opened #441 "Samir - P2 Video"
https://youtu.be/9vtt-ZA3WKs

[2015-11-20 13:27] #434 closed, assigned to nobody

[2015-11-20 13:27] #435 closed, assigned to nobody

[2015-11-20 13:27] #436 closed, assigned to nobody

[2015-11-20 13:27] #437 closed, assigned to nobody

[2015-11-20 13:27] #438 closed, assigned to nobody

[2015-11-20 13:27] #440 closed, assigned to nobody

[2015-11-20 13:27] #441 closed, assigned to nobody

[2015-11-20 13:32] jordanbrauner commented on #419
Here's the link to a higher quality version. I'll slack it to you as well in case you aren't notified of this comment.

https://youtu.be/k0vrkt3ZshI

[2015-11-20 13:47] tylercrosse opened #442 "Issue - Update or Create with hardcoded data"
Most of the data in the columns in my Commit table is created automatically from an api response. I've been trying to hardcode each 'commit' entry with a image_url but I'm having a lot of trouble.

Here is what the section in my github.rb model where the commits are created. All of the local @ variables are from the initialize method.

[code]

I first tried simply adding a `screenshot: "https://go

[2015-11-20 13:55] clarktsc39 opened #443 "Seed Data Not Populating"
I entered all the fields in my seed data and they're not rendering in my browser...

[2015-11-20 13:56] dan-ator commented on #434
Here is the repo of the project too. https://github.com/dan-ator/Project-Two

[2015-11-20 14:10] clarktsc39 commented on #443
This is what my one seed looks like:

[code]

It was rendering before with a link on the "bars" page, but it's no longer rendering.

[2015-11-20 14:10] ghost opened #444 "Davis' Video Submission"
https://youtu.be/yUi4s70v96M

[2015-11-20 14:13] cpgruber opened #445 "Chase's Project 2 video"
https://vimeo.com/146390337

[2015-11-20 14:19] Ly900 opened #446 "Ly's Project 2"
TeacherFAMConnect
Youtube-hosted video: https://youtu.be/gljZMWlufWg

This project was a lot of fun and I learned a ton!

[2015-11-20 14:21] joe-gz opened #447 "joe-gz project 2"
https://www.youtube.com/watch?v=u7D5A4q9eLU

[2015-11-20 14:22] joe-gz commented on #447
heroku link if needed: https://beerlogger.herokuapp.com/

[2015-11-20 14:41] MohamedGood opened #448 "My_Project2_screencast_MG"
https://www.youtube.com/watch?v=5N9B3L8JJec

Enjoy!!!!

[2015-11-20 14:44] joe-gz commented on #447
repo link: https://github.com/joe-gz/beerlister

[2015-11-20 14:45] andrewsunglaekim commented on #443
did you run your seed file? `rake db:seed`

[2015-11-20 14:49] clarktsc39 commented on #443
Yes.

On Fri, Nov 20, 2015 at 9:45 AM Andrew Kim notifications@github.com wrote:

[2015-11-20 14:50] clarktsc39 commented on #443
The only problem with my seed data loading is that the images don't show
up. The name and description are working well.

On Fri, Nov 20, 2015 at 9:48 AM Thomas Clark tclark@soteriagiving.com
wrote:

[2015-11-20 14:56] jenpen opened #449 "Jen's Project 2"
Youtube Video: https://www.youtube.com/watch?v=d7BWhb3rNYE

Other links:
Heroku: https://pengelly-daily-scrum-board.herokuapp.com
Github: https://github.com/jenpen/daily_scrum

[2015-11-20 14:56] mcgrodsky opened #450 "Mia's Project"
App Demo - https://www.youtube.com/watch?v=IulKaOCzOFw

Github Repo - https://github.com/mcgrodsky/housemate_matchmaker

[2015-11-20 15:06] #444 closed, assigned to nobody

[2015-11-20 15:06] #445 closed, assigned to nobody

[2015-11-20 15:06] #446 closed, assigned to nobody

[2015-11-20 15:06] #447 closed, assigned to nobody

[2015-11-20 15:06] #448 closed, assigned to nobody

[2015-11-20 15:06] #449 closed, assigned to nobody

[2015-11-20 15:06] #450 closed, assigned to nobody

[2015-11-20 15:07] RobertAKARobin commented on #433
I'm sorry, Won, I don't understand the question. Can you check your database and tell me whether your data seems to be going in there?

[2015-11-20 15:07] KoryJCampbell opened #451 "Project 2 Presentation: Kory J. Campbell"
<b>Co-Op Bookshelf</b>

https://youtu.be/n9Ij2QlK8lw

[2015-11-20 15:08] #451 closed, assigned to nobody

[2015-11-20 15:09] RobertAKARobin commented on #439
Did you include the 12factor gem?

Have you tried `rake assets:precompile`?

[2015-11-20 15:10] RobertAKARobin commented on #442
I've never seen `Commit.update(this...` before. That looks like some Javascript, which can't be right. Can you tell me what it's supposed to do?

[2015-11-20 15:11] RobertAKARobin commented on #443
Include the 12factor gem: https://github.com/ga-dc/curriculum/tree/master/05-mvc-with-rails/rails-deployment#the-rails_12factor-gem

Also, run `rake assets:precompile`, then push again.

[2015-11-20 15:12] clarktsc39 commented on #443
I worked on it with Andre and we fixed it. It was a roundabout way, but it
works.

On Fri, Nov 20, 2015 at 10:11 AM Robert Thomas notifications@github.com
wrote:

[2015-11-20 15:12] RobertAKARobin commented on #443
Cool!

[2015-11-20 15:12] #443 closed, assigned to RobertAKARobin

[2015-11-20 15:17] dttruong opened #452 "Dennis Truong Project 2 Submission Video"
Youtube:  https://youtu.be/6_jNkj7pPBs
Github Repo: https://github.com/dennizzy/project2/

Thanks!

[2015-11-20 15:19] roshanad opened #453 "Roshana Video Presentation"
https://youtu.be/loKiBWEt7Bg

[2015-11-20 15:19] tylercrosse commented on #442
You're right that 'this' shouldn't be there. I noticed that sometimes .update needs 2 arguments and sometimes only 1 so I was playing around with adding a second argument trying to refer to the Commit being created.

[2015-11-20 15:19] estennett opened #454 "Eric Stennett - Project 2 Video Walkthrough"
https://youtu.be/0DBcu-vcKAY

[2015-11-20 15:20] RobertAKARobin commented on #442
Unless `this` is something the Ruby documentation has told you will work, it pretty definitely won't work.

[2015-11-20 15:20] RobertAKARobin commented on #442
What does your code look like now? Are you getting errors?

[2015-11-20 15:22] #452 closed, assigned to nobody

[2015-11-20 15:22] #453 closed, assigned to nobody

[2015-11-20 15:22] #454 closed, assigned to nobody

[2015-11-20 15:31] murgia opened #455 "Matthew Murgia Project 2 Presentation"
https://youtu.be/w2sv41jC6QY

https://github.com/murgia/taskager

[2015-11-20 15:34] jnichols300 opened #456 "Presentation Jared Nichols"
https://youtu.be/AjXpgQ-_RWo

https://jinex.herokuapp.com/

New Repo:
https://github.com/jnichols300/jinex

[2015-11-20 15:36] pzhang87 opened #457 "project 2 presentation"
https://www.youtube.com/watch?v=2JE2NFTtPsg

project repo: https://github.com/pzhang87/project2
hosted site: http://scarlet-gg.herokuapp.com/

watch out for the bloopers

[2015-11-20 15:39] alifrumin opened #458 "Alice Project Two Presentation"
Youtube Video: https://youtu.be/QU3-fTdoqpU
Heroku: http://clubhubhub.herokuapp.com/
GitHub Repo: https://github.com/alifrumin/ClubHub

[2015-11-20 15:42] tylercrosse commented on #442
I removed the Commit.update in both the github.rb model and in commit.rb model so I wouldn't have to worry about it making my screencast. I'm about to head into GA but I can show you more clearly what's going on when I get there if that's ok?

[2015-11-20 15:42] Briik opened #459 "Bryce - Syriapp Demo"
https://youtu.be/RVsxQzW67iU

[2015-11-20 15:42] ghost opened #460 "Householder Project 2 Video Link"
https://youtu.be/t137KS8Oolc

[2015-11-20 15:43] Cajam opened #461 "Project 2 Demo"
Sorry for the voice, I was still sick when I screen recorded this.

https://www.youtube.com/watch?v=O1W8MmfYdjA

[2015-11-20 15:44] mooniker opened #462 "Project2 for James"
Demo: https://youtu.be/9pGE7usy8Fk

Github repo: https://github.com/mooniker/omw

[2015-11-20 15:44] jacohen10 opened #463 "Project2 Demo"
https://www.youtube.com/watch?v=bong7TdNvsQ

[2015-11-20 15:46] schersh opened #464 "Sarah's project presentation"
My YouTube video can be found at the link below - it's currently 7 minutes with both the app demo and showing some of the code - please feel free to stop it in class after the first 4.5 minutes.

https://www.youtube.com/watch?v=eXAU_U-txmw

https://github.com/schersh/clean-slate-2

https://clean-slate-app.herokuapp.com/

[2015-11-20 15:50] #455 closed, assigned to nobody

[2015-11-20 15:50] #456 closed, assigned to nobody

[2015-11-20 15:50] #457 closed, assigned to nobody

[2015-11-20 15:50] #458 closed, assigned to nobody

[2015-11-20 15:50] #459 closed, assigned to nobody

[2015-11-20 15:50] #460 closed, assigned to nobody

[2015-11-20 15:50] #461 closed, assigned to nobody

[2015-11-20 15:50] #462 closed, assigned to nobody

[2015-11-20 15:50] #463 closed, assigned to nobody

[2015-11-20 15:50] #464 closed, assigned to nobody

[2015-11-20 15:51] RobertAKARobin commented on #442
Sure!

[2015-11-20 15:51] #442 closed, assigned to RobertAKARobin

[2015-11-20 15:51] #433 closed, assigned to RobertAKARobin

[2015-11-20 15:51] #439 closed, assigned to RobertAKARobin

[2015-11-20 15:56] ghost opened #465 "How to create many_to_many with pure join table"
I'm struggling making use of my join model. I have

[code]

[code]

and

[code]

In my rails console DeckSubject.all looks for a table called deck_subjects and my join table is decks_subjects. DecksSubject.all. Not entirely sure where to begin

[2015-11-20 15:57] tylercrosse opened #466 "P2 Submission"
Repo: https://github.com/tylercrosse/git_preview
Heroku: https://git-preview.herokuapp.com/
Youtube: https://youtu.be/U9797AwZW84

The app on Heroku is pretty busted and the README.md + Planning stuff is on the orginal repo for this project: https://github.com/tylercrosse/git_view

Where does all the time go???

[2015-11-20 15:58] ddayporter commented on #439
Thanks Robin - I actually got it working not too long ago, was just working on my video so forgot to come back and close this.

[2015-11-20 15:59] RobertAKARobin commented on #465
Can you be more specific about what you want to do with this join table? You just want to be able to say `@deck.subjects`? If so, this looks totally correct.

[2015-11-20 15:59] ddayporter opened #467 "Video submission"
https://youtu.be/Oa0SeCfCIh4

LOL woops about the text at the end. email and url are in the video info section :blush:

[2015-11-20 16:00] mpopv opened #468 "Video Submission"
https://vimeo.com/146405675

[2015-11-20 16:01] ckib16 opened #469 "Chris Kibble - Pilot Roster Demo"
Here's the demo video for my "Pilot Roster" app:

https://youtu.be/Ua4pjrz9LE0

[2015-11-20 16:02] ghost commented on #465
Yeah, it was going to be a simple tag functionality that I never got to. There are no columns referencing each other in my subjects or decks tables. Only in my decks_subjects table so I thought I had to add the relationships there?

[code]

[2015-11-20 16:02] RobertAKARobin commented on #465
Make sure your three backtics are on a line by themselves!

[2015-11-20 16:03] RobertAKARobin commented on #465
You're looking in the `schema.rb`. The relationships are there: that's what the `deck_id` and `subject_id` columns are for. ActiveRecord takes care of the rest.

[2015-11-20 16:04] brittonwalker opened #470 "Britton Walker - NOT FACEBOOK Demo"
https://www.youtube.com/watch?v=mws-ltvsehM&feature=youtu.be

[2015-11-20 16:10] ghost commented on #465
I'm sorry. I'm still not understanding how to make the relationship.

[code]

None of these seem to work:

Deck.first.subjects[0] = Subject.first
Deck.first.subjects = Subject.first
Deck.first.Subjects
Deck.first.subjects

[2015-11-20 16:11] #466 closed, assigned to nobody

[2015-11-20 16:11] #467 closed, assigned to nobody

[2015-11-20 16:11] #468 closed, assigned to nobody

[2015-11-20 16:11] #469 closed, assigned to nobody

[2015-11-20 16:11] #470 closed, assigned to nobody

[2015-11-20 16:14] ArmaniH opened #471 "Armani Hall PresDos"
Here you go!

https://youtu.be/Sxw3j6EATOE

[2015-11-20 16:14] RobertAKARobin commented on #465
You've made the relationship. What do you want to _do_ with the relationship? Do you want to be able to show all the subjects for a particular deck? Do you want to create a subject that "belongs" to a particular deck?

[2015-11-20 16:15] neka-io opened #472 "Negar - Small Steps Presentation"
https://youtu.be/2hxaLOyUe8o

[2015-11-20 16:16] ajohnson052 opened #473 "Alexis_Project_2"
https://www.youtube.com/watch?v=DbKaucDf9z8&feature=youtu.be

[2015-11-20 16:17] ghost commented on #465
Yes, I was hoping to tag a deck with certain subjects. In this scenario that I'm working through in the console I want to assign my first deck the subject of "sports"

[2015-11-20 16:17] #471 closed, assigned to nobody

[2015-11-20 16:17] #472 closed, assigned to nobody

[2015-11-20 16:17] #473 closed, assigned to nobody

[2015-11-20 16:19] MarkhamShofner opened #474 "M. Shofner Open-Door"
Video is a bit long, so please watch it at 1.5 speed!

https://www.youtube.com/watch?v=4QE9xgNEKfY&feature=youtu.be

[2015-11-20 16:21] #474 closed, assigned to nobody

[2015-11-20 16:29] beckybeauchamp1 opened #475 "Video"
http://www.youtube.com/watch?v=Yhs82IStMls

^ Sadly, I tried call morning to get this up and running and the volume still doesn't work

[2015-11-20 16:30] clarktsc39 opened #476 "Project 2 Video - Clark, Thomas"
https://youtu.be/Y_YOX4C3jSA

[2015-11-20 16:31] #475 closed, assigned to nobody

[2015-11-20 16:31] #476 closed, assigned to nobody

[2015-11-20 16:34] andrewsunglaekim commented on #475
Could u be in the room to narrate when we show your video?

[2015-11-20 16:36] BMahoney08 opened #477 "Brendan Mahoney Screencast Project 2"
https://www.youtube.com/watch?v=y6ObYOAcvfE&feature=youtu.be

[2015-11-20 16:36] beckybeauchamp1 commented on #475
Yes! I’m sorry I don’t know why I struggled so much with this...

-- 
Becky Beauchamp
Sent with Airmail

On November 20, 2015 at 11:34:39 AM, Andrew Kim (notifications@github.com) wrote:

Could u be in the room to narrate when we show your video?

—
Reply to this email directly or view it on GitHub.

[2015-11-20 16:37] toryburgett opened #478 "Tory Screencast"
Sorry for the delay! https://youtu.be/5g9l4Wy6nWk

[2015-11-20 16:39] #477 closed, assigned to nobody

[2015-11-20 16:39] #478 closed, assigned to nobody

[2015-11-20 16:39] ghost opened #479 "Project 2 Screencast"
https://youtu.be/iyq3yhrQrT8

[2015-11-20 16:39] #479 closed, assigned to nobody

[2015-11-20 16:40] tomiteo opened #480 "Tim Gregg Presentation"
Sorry it's a little late!

https://youtu.be/3zG9rLCDrqA

[2015-11-20 16:41] #480 closed, assigned to nobody

[2015-11-20 16:54] qadriyyah119 opened #482 "Project 2 Video Qadriyyah"
Sorry for the delay!

https://youtu.be/ULcUpBbhojk

[2015-11-20 17:00] JohnWPark opened #483 "Screencast project"
Made a mistake submitting it earlier.

https://vimeo.com/146407349

[2015-11-20 17:01] toryburgett commented on #478
https://github.com/toryburgett/courtly

[2015-11-20 17:04] kaustly opened #484 "project two kelly austin"
https://vimeo.com/146415507

[2015-11-20 17:04] #482 closed, assigned to nobody

[2015-11-20 17:09] #483 closed, assigned to nobody

[2015-11-20 17:09] #484 closed, assigned to nobody

[2015-11-20 17:25] codedre opened #485 "my video"
https://www.youtube.com/watch?v=HcuCPKN4GNE

[2015-11-20 17:32] CBanks813 opened #486 "Chrystal's video"
https://youtu.be/1Qe5Pkhqkcw

[2015-11-20 17:40] #485 closed, assigned to nobody

[2015-11-20 17:40] #486 closed, assigned to nobody

[2015-11-20 17:43] aoave opened #487 "Comic Review Project 2"
https://youtu.be/IKviZaKpGOM

[2015-11-20 17:47] ascreven opened #488 "Alex's Video"
https://www.youtube.com/watch?v=rOSgY5BUUwU

[2015-11-20 17:53] #487 closed, assigned to nobody

[2015-11-20 17:53] #488 closed, assigned to nobody

[2015-11-20 18:11] ghost commented on #465
What's the most basic syntax I could use to see the many-to-many relationship in action so I can explore from there?

[2015-11-20 18:22] CBanks813 opened #489 "Chrystal re-take"
https://youtu.be/TgXkJYSPwGc

[2015-11-20 18:27] matiamin opened #490 "Mati's video :("
https://youtu.be/4C1Xxeu-bVg

[2015-11-20 18:32] onesick opened #491 "Wonsik's viedo"
https://www.youtube.com/watch?v=HvtmCo98n9g&feature=youtu.be

[2015-11-20 18:34] RobertAKARobin commented on #465
Take a look here:

https://github.com/ga-dc/curriculum/tree/master/05-mvc-with-rails/rails-many-to-many#testing-our-association-10-minutes--140

[2015-11-20 19:12] ghost opened #493 "Jorge's project-2 video."
It has some very basic functionality... I guess I can be proud of that :)
https://www.youtube.com/watch?v=xAsAWEhZRtQ

[2015-11-20 19:27] ghost commented on #465
I've read through that a couple times and couldn't find the overlap.

What's my version of Attendance?

[code]

Something like that?

[2015-11-20 19:30] RobertAKARobin commented on #465
Yeah!

So, to add a subject to the deck, you could do something like:

[code]

[2015-11-20 20:14] ghost commented on #465
Could I have set up my models wrong or something?

[code]

[2015-11-20 20:21] RobertAKARobin commented on #465
It's because you said `@test = Deck.first`, and then asked for `@deck.deck_subjects`. Change that to `@test.deck_subjects` and you should be good to go!

[2015-11-20 20:24] #489 closed, assigned to nobody

[2015-11-20 20:24] #490 closed, assigned to nobody

[2015-11-20 20:24] #491 closed, assigned to nobody

[2015-11-20 20:24] #493 closed, assigned to nobody

[2015-11-20 20:43] ghost commented on #465
[code]

[2015-11-20 20:44] RobertAKARobin commented on #465
:disappointed:

What's the output of `> DeckSubject.new`?

[2015-11-20 20:44] RobertAKARobin commented on #465
Oh. You called them `decks_subjects`, not `deck_subjects`:

[code]

[2015-11-20 20:50] ghost commented on #465
Ah! Yay a problem! So the first word should be singular?

[2015-11-20 20:50] RobertAKARobin commented on #465
It should just match whatever you wrote in your model. If you wrote `through: :decks_subjects`, then `decks_subjects` it is!

[2015-11-20 20:52] ghost commented on #465
[code]

[2015-11-20 20:57] #465 closed, assigned to nobody

[2016-02-09 20:09] jshawl opened #494 "references ga-dc/curriculum"
https://github.com/search?utf8=%E2%9C%93&q=ga-dc%2Fcurriculum+user%3Aga-wdi-exercises&type=Code&ref=searchresults

[2016-02-22 18:28] caitlindaitch opened #495 "Issue with isolating font family from element"
I tried this code to select the font family:

[code]

activeCard is correct and is returning the element that has the font-family attribute

I expected this to return the name of the font (ie. Arial) when I used console.log

It returned nothing.

My repo link is https://github.com/caitlindaitch/ConcentrationGame and my question is about line 23.

[2016-02-22 18:31] RobertAKARobin commented on #495
The thing about `.style` is that it only works if you've set the CSS using Javascript, e.g. `element.style.fontFamily = "Comic Sans MS";`, or if you're using inline styles, e.g. `style="font-family:'Comic Sans MS'"`.

That's because `.style` actually changes the `style=` attribute. If you do `document.body.style.color = "red"` and then inspect element on the `<body>`, you'll see it's now `<body st

[2016-02-22 18:34] #494 closed, assigned to nobody

[2016-02-22 18:35] RobertAKARobin commented on #495
Uh. Incidentally, you're on the wrong repo. You want https://github.com/ga-wdi-exercises/project1, and this is Project 2. You sure you're doing the right project? :stuck_out_tongue:

[2016-02-22 18:45] ghost opened #496 "issue with _css - two classes for a div___"
I gave two classes for a div____. I expected  to be able to style using both classes but I'm not seeing changes_____ to happen._____ happened instead.
My repo link is _https://github.com/Bneupane/memory-game.git__ and my question is about lines _17-44__.

also, is this a good practice if I'm looking to use JS and have unique class for each div?

[2016-02-22 18:48] RobertAKARobin commented on #496
`.card1` will select an element with `class="card1"`.

`.cards.6` will select an element with `class="cards 6"`.

`.cards` will select an element with `class="cards"`.

Note that `.cards` will ALSO select `class="cards 6"`.

[2016-02-22 19:33] #495 closed, assigned to RobertAKARobin

[2016-02-23 22:40] #496 closed, assigned to RobertAKARobin

[2016-03-18 15:43] christine-sm opened #499 "Christine Movius D&Dr"
Linking this now in case I forget over the weekend: https://github.com/cmmovius/dndr

For this project, I am creating a Dungeons and Dragons app (D&Dr) where users can CRUD a campaign, characters, a dungeon master (DM), and adventure chapters.

[2016-03-18 16:05] RobertAKARobin commented on #499
@cmmovius Sorry Christine -- could you submit it here instead?

https://github.com/ga-dc/wdi8-project2-gallery

I didn't think about how asking people to submit things as issues on here would make doing tech support with issues complicated!

[2016-03-18 16:05] #499 closed, assigned to nobody

[2016-03-18 16:22] christine-sm commented on #499
No worries. Just posted the issue in the project 2 gallery!

[2016-03-21 19:01] hh747hh opened #500 "Template is missing"
Error mseesge:

Template is missing
Missing template oils/index, application/index with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :coffee, :jbuilder]}. Searched in: \* "/Users/hh747hh/wdi/projects/oils_remedies/app/views"

Stackoverflow said I need to redirect in the create method of my controller.

this is my controller looks like:

class OilsCont